/* CSS Document */

body{
	padding:0;
	font:12px "宋体";
	margin:0px auto;
}

.red{
	color:#FF0000 !important;
}

.orange{
	color:#FF6600 !important;
}

div, p, ul, h2, h3, h4, img{
	padding:0px;
	margin:0px;
}

ul{
	list-style-type:none;
}

a{
	color:#22568F;
	text-decoration:none;
}

a:hover{
	color:#FF6600;
	text-decoration:underline;
}

.r {
	color:#999999;
	float:right;
}

.main{
	width:950px;
	padding:0;
	margin:0 auto;
}

.gray{
	color:#666666;
}

/*头部*/

.fcl_top{
	width:950px;
	height:98px;
	float:left;
}

.fcl_final_top{
	width:950px;
	height:70px;
	float:left;
}

#fcl_logo{
	width:191px;
	height:75px;
	float:left;
	margin:0 0 0 16px;
	padding:23px 0 0 0;
}

#fcl_final_logo{
	width:191px;
	height:55px;
	float:left;
	margin:0 0 0 16px;
	padding:8px 0 0 0;
}

#solo{
	float:left;
	margin:43px 0 0 0;
	padding:0 0 0 10px;
}

#fcl_final_solo{
	float:left;
	margin:28px 0 0 0;
	padding:0 0 0 10px;
}


.fcl_tel{
	width:232px;
	height:73px;
	padding:25px 0 0 18px;
	background:url(../images/fcl/tel_bg.gif) no-repeat right bottom;
	float:right;
}

.fcl_tel img{
	vertical-align:middle;
	margin:0 5px 0 0;
}

.fcl_tel a{
	color:#000;
	text-decoration:none;
}

.fcl_login{
	width:104px;
	height:76px;
	padding:22px 0 0 0;
	background:url(../images/fcl/login_bg.gif) no-repeat right;
	float:right;
}

.fcl_final_login{
	width:174px;
	padding:6px 0 0 0;
	float:right;
}

.fcl_login a{
	display:block;
	line-height:28px;
	float:left;
	padding:0 7px;
	background:url(../images/fcl/jt.gif) no-repeat left;
}

.fcl_final_login a{
	display:block;
	line-height:28px;
	float:left;
	padding:0 7px;
	background:url(../images/fcl/jt.gif) no-repeat left;
}

.nav{
	width:950px;
	height:33px;
	background:url(../images/fcl/nav_bg.jpg) repeat-x;
	float:left;
}

.nav ul li{
	display:block;
	width:94px;
	text-align:center;
	height:33px;
	float:left;
}

.nav ul li a{
	display:block;
	width:94px;
	height:25px;
	padding:8px 0 0 0;
	color:#fff;
	text-decoration:none;
	font:14px "宋体";
	font-weight:bold;
}

.st{
	background:url(../images/fcl/nav_a_bg.jpg) repeat-x;
}

.nav ul li a:hover{
	background:url(../images/fcl/nav_a_bg.jpg) repeat-x;
}

.nav ul li.divider{
	display:block;
	width:1px;
	height:33px;
	float:left;
	background: url(../images/fcl/dv.gif) no-repeat center;
}

.search{
	width:938px;
	float:left;
	background-color:#4EA0DC;
	margin:0 0 12px 0;
	border:6px solid #4EA0DC;
}

.search_mid{
	width:938px;
	background-color:#FFFFFF;
	float:left;
}

.search_mid p{
	line-height:26px;
	width:908px;
	float:left;
	margin:0px;
	padding:5px 15px;
	background:url(../images/fcl/search_bg2.gif) no-repeat right bottom;
}

.search_bar{
	padding:1px;
	border-bottom:1px dashed #9AB0C8;
}

.sear_top{
	margin:0px;
	background: url(../images/fcl/search_bg.jpg) repeat-x top;
	padding:8px 0 0 15px;
}

.search_bar img{
	vertical-align:middle;
}

.r_more a{
	clear:both;
	height:22px;
	text-decoration:underline !important;
}

.r_more a:hover{
	background-color: #FF6600 !important;
}


.search_mid p a:link{
	color: #293B5E;
	text-decoration: none;
}
.search_mid p a:visited {
	text-decoration: none;
	color: #293B5E;
}
.search_mid p a:hover {
	text-decoration: underline;
	color: #FFFFFF;
	background-color:#FF6600;
}
.search_mid p a:active {
	text-decoration: none;
	color: #293B5E;
}

.search_tips{
	margin-bottom:12px;
	width:950px;
	color:#999999;
	float:left;
}

.search_tips a{
	margin:0px;
	padding:0px 0px 0px 164px;
}

.main_left{
	width:742px;
	float:left;
	overflow:hidden;
}

.main_right{
	width:200px;
	float:left;
	overflow:hidden;
	margin:0px 0px 0px 8px;
}


.freight_List_title{
	width:950px;
	height:25px;
	padding:2px 0px;
	float:left;
	background:url(../images/fcl/zx.gif) no-repeat center;
}

.freight_List_title a{
	color:#29395B;
	line-height:25px;
}

.freight_List_title img{
	vertical-align:middle;
}

.freight_List_title h2{
	font:14px "宋体";
	font-weight:bold;
	float:left;
	color:#29395B;
	padding:0 0 0 30px;
	margin:0px;
	width:115px;
	text-align: left;
	height:25px;
}

.freight_List_title h2 img{
	vertical-align:middle;
	margin:1px 3px 3px 0;
}

.biaoti{
	width:950px;
	height:46px;
	background:url(../images/fcl/biaoti_bg.jpg) repeat-x bottom;
	float:left
}

.list_box{
	width:742px;
	float:left;
	line-height:24px;
}

.list_box ul{
	width:742px;
	float:left;
	padding:0px;
	margin:0px;
	}

.list_box ul li{
	display:block;
	padding:3px 0;
	list-style:none;
	border-bottom:1px dashed #CCCCCC;
}

.list_box ul li a{
	color:#29395B;
	text-decoration: none;
}

.list_box ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.list_box ul li:hover{
	background-color:#e4f5ff;
}

.mail{
	width:145px;
	height:16px;
	margin:7px 7px 0;
	display:inline;
	background:url(../images/fcl/mail_bg.gif) no-repeat center;
	color:#2A509B;
	padding:4px 0 0 30px;
	float:right;
}

.mail a{
	color:#FF6600;
	text-decoration:underline;
}

.news_box{
	width:740px;
	height:199px;
	border:1px solid #A5BDE1;
	margin:8px 0px 0px 0px;
	padding:0px;
	float:left;
}

.news_box ul{
	width:350px;
	height:170px;
	float:left;
	margin:13px 0 0 0 ;
	padding:0 0 0 13px;
}

.news_box ul li{
	display:block;
	width:334px;
	padding-left:16px;
	list-style:none;
	line-height:26px;
}

.news_box ul li.img{
	vertical-align:middle;
	
}

.news_box ul li a:link,.news_box ul li a:visited,.news_box ul li a:active,.right_box ul li a:link,.right_box ul li a:visited,.right_box ul li a:active,.right_boxs ul li a:link,.right_boxs ul li a:visited,.right_boxs ul li a:active{
	font:12px "宋体";
	color:#28385A;
	text-decoration:none;
}

.news_box ul li a:hover,.right_box ul li a:hover,.right_boxs ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.fj_box p a{
	display:block;
	font:12px "宋体";
	line-height:22px;
	color:#28385A;
	text-decoration:none;
}

.fj_box p a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.news_box_tit{
	border:none; 
	height:22px; 
	color:#081023;
	text-decoration:none;
	background-color:#B4C1D1;
}

.news_box_tit a:hover{
	text-decoration: underline;
}

.manu {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: right;
}
.manu A {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #28385A; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-DECORATION: none
}
.manu A:hover {
	BORDER: #6A829A 1px solid;
}
.manu A:active {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu .current {
	BORDER: #1F4363 1px solid; 
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 2px; 
	COLOR: #fff; 
	PADDING-TOP: 2px; 
	BACKGROUND-COLOR: #6A829A;
}
.manu .disabled {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid;
}

/*右边*/

.right_nav_box{
	width:192px;
	background-color:#C2CDE1;
	float:left;
	padding:4px;
	margin:0 0 8px 0;}

.right_nav{
	width:190px;
	float:left;
	padding:1px;
	background:#FFFFFF url(../images/fcl/bbw.gif) no-repeat right bottom;
}

.right_nav h2{
	padding:7px 0 0 12px;
	margin:0px;
	width:178px;
	height:33px;
	background:url(../images/fcl/nav_bg.gif) no-repeat top;
	float:left;
	font:13px "宋体";
	font-weight:bold;
	color:#28385A;
}

.right_nav ul{
	width:180px;
	float:left;
	margin:0 0 10px 0;
	padding:0 0 0 10px;
}

.right_nav ul li{
	display:block;
	width:170px;
	float:left;
	height:32px;
	list-style:none;
	line-height:32px;
	border-bottom:1px dashed #B4BECA;
	background:url(../images/fcl/jt.gif) no-repeat right;
}

.right_nav ul li a.img{
	vertical-align:middle;
	margin:0px;
	padding:0px;
	float: left;
}

.right_nav ul li a:link,.right_nav ul li a:visited,.right_nav ul li a:active {
	color: #28385A;
	text-decoration:none;
}

.right_nav ul li a:hover{
	color: #FF6600;
	text-decoration:none;
	padding-left:3px;
}

.fj{
	width:198px;
	background:#EAEAEA;
	float:left;
	border:1px solid #AEAEAE;
	margin:8px 0 0 0;
	padding-bottom:3px;
}

.fj h2{
	margin:0px;
	font:13px "宋体";
	font-weight:bold;
	padding:8px 0 0 15px;
	height:20px;
	color:#28385A;
	background:url(../images/fcl/fj_bg.gif) repeat-x top;
}

.fj h2 a{
	font:12PX "宋体";
	font-weight: normal;
	color:#28385A;
	text-decoration:none;
}

.fj h2 a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.fj_box{
	width:184px;
	margin:3px 3px 0 3px;
	float:left;
	padding:3px;
	background:#fff;
	border:1px solid #C8C8C8;
	display:inline;
}

.fj_box p{
	line-height:24px;
	margin:0px;
	padding:5px 10px;
}

.right_ad{
	margin-top:8px;
	float:left;
}

.right_boxs{
	width:196px;
	padding:1px;
	background-color:#F5FAFE;
	float:left;
	margin-top:8px;
	border:1px solid #9DC0E0;
}

.right_boxs_title{
	width:187px;
	height:20px;
	float:left;
	background-color:#BFD1DB;
	padding: 7px 0px 0px 9px;
}

.right_boxs_title img{
	vertical-align:middle;
	margin:0 4px 4px 0;
}

.right_boxs ul{
	width:176px;
	padding:6px 10px;
	margin:0px;
	float:left;
}

.right_boxs ul li{
	display:block;
	list-style:none;
	line-height:24px;
}

.right_boxs p{
	clear:both;
	padding:0px;
	margin:0px 0px 0px 18px;
	line-height:23px;
}



.right_box{
	width:198px;
	height:208px;
	float:left;
	margin-bottom:8px;
	border:1px solid #9EBCDE;
}

.right_box ul{
	width:168px;
	height:158px;
	padding:12px 15px 0px 15px;
	margin:0px;
	float:left;
}

.right_box ul li{
	display:block;
	list-style:none;
	line-height:24px;
}

.right_box_title{
	width:189px;
	height:24px;
	padding: 7px 0px 0px 9px;
	background:url(../images/fcl/right_tt.gif) no-repeat top;
}

.right_box h2,.right_box h2 a,.right_boxs h2,.right_boxs h2 a{
	font:13px "宋体";
	font-weight:bold;
	margin:0px;
	padding:0px;
	color:#081023;
	text-decoration:none;
}

.right_box h2 a:hover{
	text-decoration:underline;
}

.right_box h2 a:hover{
	text-decoration:underline;
}

.right_box p{
	clear:both;
	padding:0px;
	margin:0px 0px 0px 18px;
	line-height:23px;
}

.ad{
	width:742px;
	height:65px;
	margin-top:8px;
	float:left;
}

.paixu {
	margin-right:130px;
	padding-left:155px;
	width:335px;
}

.tchu_box{
	width:329px;
	float:left;
}

.tchu_box_top{
	width:329px;
	height:16px;
	float:left;
	background:url(../images/fcl/tchu1.gif) no-repeat top;
}

.tchu_box_mid{
	height:auto !important;
	width:299px;
	padding:0px 15px;
	float:left;
	overflow:hidden;
	min-height:50px !important;
	background:url(../images/fcl/tchu_bg.gif) repeat-y;
	
}

.tchu_box_bot{
	width:329px;
	height:9px;
	float:left;
	background:url(../images/fcl/tchu2.gif) no-repeat top;
}

.tchu_box_mid a{
	color:#293B5E;
	text-decoration:none;
	line-height:20px;
}

.tchu_box_mid a:hover{
	color: #FFFFFF;
	background:#FF6600;
	text-decoration:none;
}

.tchu_nav {
	width:299px;
	height:24px;
	float:left;
	margin-bottom:4px;
	border-bottom:1px dashed #ccc;
}

.tchu_nav a{
	display:block;
	line-height:18px;
	font:13px "宋体";
	text-decoration:underline;
	margin:0 2px;
	float:left;
}

.tchu_nav a:hover{
	color:#FF3300;
	background:none;
 }


/*底部*/

.foot{
	width:930px;
	float:left;
	line-height:23px;
	color:#FFFFFF;
	text-decoration:none;
	margin:8px 0;
	padding:4px 0px 4px 20px;
	background-color:#2280BD;
}

.foot a{
	color:#FFFFFF;
	text-decoration:none;
}

.bottom_tn{
	width:950px;
	line-height:20px;
	text-decoration:none;
	text-align:center;
	float:left;
}

.bottom_tn a{
	color: #000000;
	text-decoration:none;
}

/*运价最终页*/

.info{
	width:944px;
	padding:3px;
	background-color:#DDE9F5;
	float:left;
	margin:8px 0 0 0;
}

.info_other{
	width:942px;
	float:left;
	overflow:hidden;
	margin:0 0 24px 0;
}

.info_other a{
	color: #616161;
	margin-right:8px;
	text-decoration:underline;
}

.info_other a:hover{
	color: #fff;
	background-color:#FF6600;
	text-decoration:none;
}


.info_other h2{
	font:14px "宋体";
	font-weight:bold;
	width:111px;
	height:20px;
	padding:7px 0 0 0;
	margin:0 0 0 30px;
}

.info_other p{
	margin:0px;
	padding:28px 0 0 0;
	background:url(../images/fcl/info_otp_bg.jpg) repeat-x top;
}

.info_box{
	width:942px;
	background-color:#fff;
	border:1px solid #BAC8D3;
	float:left;
}

.info_mid{
	float:left;
	width:4px;
	height:380px;
	background:url(../images/fcl/fcl4_bg.gif) no-repeat top center;
}

.info_left{
	width:644px;
	padding:2px;
	float:left;
}

#bttj{
	width:611px;
	text-align:center;
	border:none;
	padding:20px 0;
	color:#999999;
	font:12px "宋体";
	
}

#bttj img{
	vertical-align:middle;
	margin:-12px 0 7px 0;
}

.info_left h1{
	font:20px "宋体";
	margin:0 0 2px 0;
	padding:11px 0 0 30px;
	background-color:#DDEAF3;
	height:31px;
	font-weight:bold;
}

.info_left ul{
	margin:0px;
	padding:19px 0 0 33px;
	overflow:hidden;
	width:611px;
	border-top:1px dashed #A6BCD1;
	background:url(../images/fcl/fcl2_bg.jpg) repeat-x;
}

.info_left ul li{
	display:block;
	width:290px;
	font:13px "宋体";
	border-bottom:1px dashed #e5e4e4;
	float:left;
	list-style:none;
	line-height:32px;
}

.info_left h2{
	font:14px "宋体";
	font-weight:bold;
	color:#28385A;
	padding:0px;
	margin:30px 0px 0px 22px;
}

.info_right{
	width:286px;
	float: left;
	background:url(../images/fcl/fcl5_bg.gif) no-repeat center top;
	border-top:2px solid #fff;
	border-right:2px solid #fff;
	border-left:2px solid #fff;
	margin:0px;
	padding:0 0 20px 0;
}

.info_right h2{
	font:14px "宋体";
	height:26px;
	font-weight:bold;
	padding:0px 0px 0px 17px;
	margin:15px 100px 0px 0px;
	float:left;
	color:#28385A;
}

.other_list{
	width:940px;
	float:left;
	background:url(../images/fcl/qit1.gif) repeat-x center 30px;
	padding:1px;
	overflow:hidden;
	margin:0px 0px 24px 0px;
}

.other_list h1{
	margin:0px;
	padding:0px;
	height:29px;
	font:14px "宋体";
	font-weight:bold;
	line-height:29px;
	padding:0 0 0 30px;
}

.other_list_left{
	width:685px;
	margin:0px;
	float:left;
	display:inline;
}

.other_list_left h2{
	font:13px "宋体";
	margin:0px;
	padding:13px 0px 10px 5px;
}

.other_list_right h2{
	font:13px "宋体";
	margin:0px;
	padding:13px 0px 0px 10px;
}

.other_list_box{
	width:685px;
	float:left;
}

.other_list_box a{
	color:#28385A;
	text-decoration:none;
	}

.other_list_box a:hover{
	color:#FF6600;
	text-decoration:underline;
}

.other_list_right{
	width:250px;
	float:right;
}

.other_list_right ul{
	margin:0px;
	padding:10px;
	float:left;
}

.other_list_right ul li{
	display:block;
	width:230px;
	list-style:none;
	line-height:26px;
	border-bottom:1px dashed #C8C8C8;
}

.other_list_right ul li a:link,.other_list_right ul li a:visited,.other_list_right ul li a:active{
	color:#28385A;
	text-decoration:none;
}

.other_list_right ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.details_info {
	width:254px;
	margin:12px 0 0 12px;
	padding:6px 0 0 0;
	display:inline;
	overflow:hidden;
	float:left;
	border-top:1px solid #E5E4E4;
}
.details_info img{
	margin:10px 0px 10px 35px;
}

.details_info ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 20px;
}

.details_info ul li{
	font:13px "宋体";
	display:block;
	list-style:none;
	line-height:26px;
}

.details_info ul li a{
	color:#FF6600;
	text-decoration:underline;
}

.blue_box{
	width:580px;
	background:#f5fafd;
	float:left;
	margin:0px;
	text-align:center;
	padding:0px;
	overflow:hidden;
}

.sju{
	font:20px "宋体";
	color:#28385A;
	font-weight:bold;
	line-height:64px;
	margin:0 70px 0 0;
}

.sju a{
	font:30px "宋体";
	color:#FF0000;
	font-weight:bold;
}

.name{
	margin:10px 0px 0px 0px;
	font:13px "宋体";
	color:#FF0000;
	font-weight:bold;
	width:150px;
	float:left;
}

#pic{
	float:left;
	padding:10px 0px 0px 18px;
	margin: 0px 12px 8px 0px;
}

#pd td{
	padding-left:8px;
	padding-right:8px;
}

#pic img {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CBCCC7;
	padding:3px;
}

.comments{
	width:942px;
	padding:0px;
	float:left;
	margin:0px;
}

.comments_title{
	width:942px;
	height:35px;
	float:left;
	overflow:hidden;
	background:url(../images/fcl/pjia.gif) repeat-x top;
}


.comments_title h2{
	font:14px "宋体";
	font-weight:bold;
	width:111px;
	height:20px;
	float:left;
	padding:10px 0 0 30px;
	margin:0px;
}

.comments_title a{
	margin:10px 15px 0 0;
	float:right;
}

.comments_box{
	width:894px;
	line-height:23px;
	float:left;
	padding:0 0 12px 46px;
}
