.red{
	color:red;
}

.14n{
	font:14px Arial, Helvetica, sans-serif;
}

.green{
	color:green;
}

.tc{
	width:541px;
	background:#fff;
	border:1px solid #898c93;
	overflow:hidden;
}

.tc_head{
	width:539px;
	margin:1px;
	background:#eff8ff;
	height:32px;
}

.tc_main{
	width:489px;
	padding:14px 27px 24px 27px;
	float:left;
}

.tc_main h1{
	font:12px Arial, Helvetica, sans-serif;
	margin:0 0 6px 0;
	padding:0 0 6px 0;
	line-height:22px;
}

.tc_main h1 a,.text a{
	color:#305E8F;
}

.tc_main h1 a:hover,.text a:hover{
	color: #FF6600;
	text-decoration:none;
}

.tc_main p{
	font:12px Arial, Helvetica, sans-serif;
	color: #999;
	margin:0 0 20px 0;
	padding:0 0 6px 0;
	padding:8px;
	border:1px solid #CCCCCC;
	line-height:22px;
}

.text{
	border-top:1px dashed #CCCCCC;
	padding-top:12px;
	margin:0 0 6px 0;
	line-height:20px;
}

.ms_text{
	font:14px;
	border-left:1px solid #6A6A6A;
	border-top:1px solid #6A6A6A;
	border-bottom:1px solid #B5B5B5;
	border-right:1px solid #B5B5B5;
	line-height:18px;
}
.STYLE1 {font: 14px Arial, Helvetica, sans-serif; font-weight: bold; }

/*Ñ¡Ïî¿¨2*/

#tabs2{
	width:489px;
	text-align: left;
	float:left;
}

.menu2box{
	OVERFLOW: hidden;
	width:489px;
	POSITION: relative;
	HEIGHT: 24px;
	TEXT-ALIGN: left;
}

#menu2{
	Z-INDEX: 1;
	LEFT: 0px;
	TOP: 0px;
	POSITION: absolute;
	float:left;
	padding: 0px;
	margin:0px;
}

#menu2 LI{
	DISPLAY: block;
	FLOAT: left; 
	width:77px;
	CURSOR: pointer; 
	TEXT-ALIGN: center; 
	list-style:none;
	margin:0px 5px;
	background: url(images/tab2.jpg) no-repeat center;
}

#menu2 LI a{
	display:block;
	width:77px;
	height:18px;
	padding:6px 0 0 0;
	font:12px "ËÎÌå";
	color:#000;
	text-decoration:none;
}

#menu2 LI a:hover{
	font-weight:bold;
	text-decoration:none;
}

#menu2 LI.hover{
	WIDTH:77px;
	background:url(images/tab1.jpg) no-repeat center;
}

.main2box{
	CLEAR: both; 
	BORDER-TOP: #A3B7C2 1px solid; 
	MARGIN-TOP: -1px; 
	width:489px;
	overflow:hidden;
	background-color:#fff;
}

.main2box ul{
	width:489px;
	margin:0px;
	padding:10px 0 0 0;
	float:left;
}

.main2box ul li{
	display:block;
	line-height:22px;
	list-style:none;
}

.main2box ul li a{
	color:#305E8F;
}


.main2box ul li a:hover{
	color: #FF6600;
	text-decoration:none;
}