.listTitle {
	margin-left:0px;
	margin-top:10px;
}

.listTable {
}

.listTable a:link{
	text-decoration: none;
	color: #226077;
	cursor: pointer;
}

.listTable a:visited {
	text-decoration: none;
	color: #226077;
	cursor: pointer;
}

.listTable a:hover {
	text-decoration: underline;
	color: #FF6600;
	cursor: pointer;
}

.listTable a:active {
	text-decoration: none;
	color: #226077;
	cursor: pointer;
}


.listTable .edit a:link {
	color: #226077;
	text-decoration: underline;
}

.listTable .edit a:visited {
	text-decoration: underline;
	color: #226077;
}

.listTable .edit a:hover {
	text-decoration: underline;
	color: #FF6600;
}

.listTable .edit a:active {
	text-decoration: underline;
	color: #226077;
}


.idText {
	width:48px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}


.startPortText {
	width:88px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.startPortText3 {
	width:58px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}




.titleText {
	width:351px;
	line-height:30px;
	overflow: hidden; 
	text-overflow:ellipsis;
	margin-left:8px;
}

.titleText2 {
	width:120px;
	line-height:30px;
	overflow: hidden; 
	text-overflow:ellipsis;
	margin-left:8px;
}

.titleText3 {
	width:210px;
	line-height:30px;
	overflow: hidden; 
	text-overflow:ellipsis;
	margin-left:8px;
}


.titleText4 {
	width:186px;
	line-height:25px;
	overflow: hidden; 
	text-overflow:ellipsis;
	margin-left:8px;
}

.titleText5 {
	width:140px;
	line-height:25px;
	overflow: hidden; 
	text-overflow:ellipsis;
}

.titleUserName {
	width:186px;
	overflow: hidden; 
	text-overflow:ellipsis;
}

.startPortText4 {
	width:58px;
	line-height:25px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.priceItem {
	width:43px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.priceItemAir {
	width:30px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.dateText {
	width:73px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.dateText2 {
	width:113px;
	line-height:18px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.hitText {
	width:48px;
	line-height:25px;
	text-align:right;
	overflow: hidden; 
	text-overflow:ellipsis;
}

#tipBoxHome {
	width:785px;
	margin-top:15px;
	padding-left:13px;
	padding-top:8px;
	padding-bottom:8px;
}


#tipBoxHome2 {
	width:785px;
	margin-bottom:15px;
	padding-left:13px;
	padding-top:8px;
	padding-bottom:8px;
	font-size:14px;
	line-height:30px;
}

#tipBoxSearch {
	width:755px;
	margin-left:5px;
	margin-top:10px;
	padding-left:13px;
	padding-top:8px;
	padding-bottom:6px;
	color:#226077;
}


.typeText {
	width:93px;
	line-height:30px;
	overflow: hidden; 
	text-overflow:ellipsis;
}

.GoodLineText {
	width:198px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.cargoText {
	width:176px;
	line-height:30px;
	margin-left:8px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.amountText {
	width:60px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.companyIdText {
	width:60px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.companyContactText {
	width:88px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.companyCompanyText {
	width:195px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
	margin-left:8px;
}

.companyBusinessText {
	width:300px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.companyTelText {
	width:125px;
	line-height:30px;	
	overflow: hidden; 
	text-overflow:ellipsis;
}

.companyTextbox {
	width:503px; height:15px; font-size:12px;
}