<configuration>
	<system.web>
		<authorization>
			<allow users="*" />
		</authorization>
		<httpHandlers>
			<add path="*.jpeg" verb="GET" type="CuteEditor.Impl.EditorImageFileHandler,CuteEditor" />
			<add path="*.jpg" verb="GET" type="CuteEditor.Impl.EditorImageFileHandler,CuteEditor" />
			<add path="*.gif" verb="GET" type="CuteEditor.Impl.EditorImageFileHandler,CuteEditor" />
			<add path="*.png" verb="GET" type="CuteEditor.Impl.EditorImageFileHandler,CuteEditor" />
			<add path="*.jpeg.aspx" verb="GET" type="CuteEditor.Impl.EditorImageFileHandler,CuteEditor" />
			<add path="*.jpg.aspx" verb="GET" type="CuteEditor.Impl.EditorImageFileHandler,CuteEditor" />
			<add path="*.gif.aspx" verb="GET" type="CuteEditor.Impl.EditorImageFileHandler,CuteEditor" />
			<add path="*.png.aspx" verb="GET" type="CuteEditor.Impl.EditorImageFileHandler,CuteEditor" />
		</httpHandlers>
	</system.web>
</configuration>
