/* CSS Document */

body{
	padding:0;
	font:12px "宋体";
	margin:0px auto;
}

.13n{
	font:13px ;
}

.14n{
	font-size:14px ;
}

.main_container{
	width:950px;
	height:auto;
	margin:0px auto;
}

.bold{
	font-weight:bold;
}

.red{
	color:#FF0000;
}

.orange{
	color:#FF6600;
}

.gray{
	color: #7D7D7D;
	text-decoration:none;
	}
	
.yellow{
	color:#FFFF00;
}

.blue{
	color:#081023;
	text-decoration:none;
}

.blue2{
	color:#28385A;
	text-decoration:none;
}

.blue3{
	color:#225781;
	text-decoration:none;
}

.green{
	color:green;
}

.blue a:link,.blue a:visited,.blue a:active{
	color:#28385A;
	text-decoration:none;
}

.blue a:hover,.blue3 a:hover{
	color:#FF6600;
	text-decoration:underline;
}

/*顶部登陆*/

.top_bar{
	width:946px;
	height:25px;
	color:#1E5995;
	padding:0px 1px 1px 1px;
	border-bottom:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
	border-left:1px solid #DFDFDF;
}

.top_bar_hd{
	width:934px;
	height:25px;
	padding:0px 0px 0px 12px;
	background:url(../images/index/top_bar_bg.jpg) repeat-x;
}

.top_bar_hd h2{
	font:12px "宋体";
	float:left;
	width:200px;
	line-height:25px;
	margin:0px;
}

.top_bar_hd ul{
	display:block;
	float:right;
	width:465px;
	margin:0px;
	padding:0px;
}

.top_bar_hd ul li{
	list-style:none;
	line-height:25px;
	float:right;
}

.top_bar_hd ul li a{
	line-height:25px;
}

.top_bar_hd ul li a:link,.top_bar_hd ul li a:visited,.top_bar_hd ul li a:active {
	color: #1E5995;
	text-decoration:none;
}

.top_bar_hd ul li a:hover,.freight_detail a:hover {
	color: #FF6600;
	text-decoration:underline;
}

/*头部LOGO*/

.header{
	width:950px;
	height:72px;
	margin:0px;
	padding:0px;
	color:#1E5995;
	background:url(../images/index/head_bg.jpg) no-repeat right top;
}

#logo{
	float:left;
	margin-left:13px;
}

.header ul{
	float: right;
	margin:0px 5px 0px 0px;
	padding:22px 0px 0px 0px;
}

.header ul li{
	display:block;
	list-style:none;
	text-align: left;
	float:left;
	line-height:28px;
}

.header ul li img{
	vertical-align:middle;
	padding-bottom:5px;
}

.header ul li a:link,.header ul li a:visited,.header ul li a:active {
	font:14px "宋体";
	font-weight:bold;
	color:#28385A;
	text-decoration:none;
}

.header ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}


/*导航*/

.menu{
	width:895px;
	height:27px;
	padding: 5px 30px 0px 25px;
	background:url(../images/fcl/m_bg.gif) no-repeat;
}

.menu h1{
	color:#FFFFFF;
	font:12px "宋体";
	padding:0px;
	margin:0px;
	float:left;
}

.menu h1 a{
	color:#FFFFFF;
	text-decoration:none;
}

.menu h1 a:hover{
	color:#FFFFFF;
	text-decoration: underline;
}

.right_tn{
	float:right;
}

.right_tn a{
	color:#fff;
	text-decoration: underline;
}

.right_tn a:hover{
	color: #FF6600;
	text-decoration: underline;
}

/*页面主体*/

.main_content{
	width:944px;
	padding:3px;
	background-color:#D7E0EF;
	margin:8px 0px 0px 0px;
	overflow:hidden;
}

.main_box{
	width:942px;
	background-color:#fff;
	border:1px solid #859DB7;
	float:left;
	overflow:hidden;
}

.main_box_right{
	width:188px;
	float:left;
	padding-bottom:100000px;
	margin-bottom:-100000px;
	background:url(../images/Storage/rg_bg.jpg) repeat-y;
}

.main_box_right h1{
	width:144px;
	height:43px;
	margin:0px;
	padding:23px 0px 0px 44px;
	background:url(../images/Storage/h1_bg2.gif) no-repeat;
}

.main_box_right p{
	width:124px;
	line-height:24px;
	color:#8C8C8E;
	padding:18px 20px 0px 44px;
	margin:0px;
	background:url(../images/Storage/h1_bg.gif) no-repeat top center;
}

.main_box_right ul{
	padding:0px;
	margin:0px;
}

.main_box_right ul li{
	list-style:none;
	height:32px;
}

.main_box_right ul li a{
	display:block;
	font:14px "宋体";
	color:#28385A;
	height:23px;
	padding:9px 0px 0px 44px;
}

.main_box_right ul li a:link , .main_box_right ul li a:visited , .main_box_right ul li a:active{
	color:#28385A;
	text-decoration:none;
}

.main_box_right ul li a:hover {
	color:#FF6600;
	font-weight:bold;
	background:url(../images/Storage/li_hover.gif) no-repeat;
	text-decoration:none;
}

.main_box_right ul li a img{
	vertical-align:middle;
	margin-right:14px;
}

.main_box_left{
	width:754px;
	float:left;
}

.main_box_left h1{
	padding:19px 0px 0px 29px;
	margin:0px;
	font:22px "宋体";
	font-weight:bold;
	height:24px;
	background:url(../images/Storage/hot.gif) no-repeat left top;
}

.list_box{
	width:742px;
	padding:0px 6px;
	overflow:hidden;
}

.list_box ul{
	width:742px;
	padding:0px;
	margin:0px;
	float:left;
}

.list_box ul li{
	display:block;
	list-style:none;
	line-height:20px;
	border-bottom:1px dashed #999;
}

.onli{
	display:block;
	background-color:#f8f8f8;
	list-style:none;
	line-height:20px;
	border-bottom:1px dashed #999;
}

.product_name{
	width:220px;
	float:left;
	text-align:center;
	overflow:hidden;
	margin:10px 0px;
}

.detail{
	width:240px;
	height:218px;
	float:left;
	overflow:hidden;
	margin:10px 5px;
}

.detail2{
	width:128px;
	height:218px;
	float:left;
	overflow:hidden;
	margin:10px 0px;
	}

.detail h2,.detail h2 a{
	font:14px "宋体";
	color:#3F98EA;
	font-weight:bold;
	margin:11px 0px;
	padding:0px;
}

/*翻页*/
.manu {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: right; 
}
.manu A {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #28385A; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-DECORATION: none
}
.manu A:hover {
	BORDER: #6A829A 1px solid;
}
.manu A:active {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu .current {
	BORDER: #1F4363 1px solid; 
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 2px; 
	COLOR: #fff; 
	PADDING-TOP: 2px; 
	BACKGROUND-COLOR: #6A829A;
}
.manu .disabled {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid;
}


#dizhi{
	font:12px '宋体'; 
	color:#225781;
	font-weight: normal;
}

.detail p{
	line-height:24px;
	margin:0px 0px 11px 0px;
	color: #7D7D7D;
}

.detail2 p{
	line-height:24px;
	margin:37px 0px 0px 0px;
	padding:0px 0px 0px 3px;
	float:left;
	color:#225781;
}
.picSmall{
	float:left;
	width:220px;
	padding:0px;
	margin: 2px;
}

.product_bigimage{
	width:220px;
	height:160px;
	float:left;
}

#left_bar{
	width:18px;
	float:left;
	overflow:hidden;
}

#left_bar img,#rt_bar img{
	clear:both;
	background:none;
	border:none;
	margin-top:18px;
}

#rt_bar{
	width:18px;
	float:right;
	overflow:hidden;
	}

.picSmall img,.product_bigimage img {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CBCCC7;
	padding:2px;
	margin:0px 3px;
	float:left;
}

.picSmall img:hover {
	background:#FFFFFF none repeat scroll 0 0;
	border:2px solid #FF6600;
	padding:1px;
}

.sh{
	width:714px;
	height:24px;
	background:url(../images/Storage/sh.gif) no-repeat ;
	margin:16px 0px 12px 0px;
	padding:8px 0px 0px 28px;
	overflow:hidden;
}

.sh a{
	color:#28385A;
	text-decoration:none;
}

.sh a:hover{
	color:#FF6600;
	text-decoration: underline;
}

.list_title{
	width:742px;
	height:27px;
	margin:0px;
	padding:8px 0px 0px 0px;
	background:url(../images/Storage/sh_bg.gif) repeat-x;
}

.list_title img{
	vertical-align:middle;
}

/*选项卡*/
.main {
	CLEAR: both;
}
#tabs0{
	WIDTH: 742px;
	TEXT-ALIGN: left;
	margin-top:28px;
}
.menu0box{
	OVERFLOW: hidden;
	WIDTH: 742px;
	POSITION: relative;
	HEIGHT: 30px;
	TEXT-ALIGN: left;
}
#menu0{
	Z-INDEX: 1;
	LEFT: 0px;
	TOP: 0px;
	POSITION: absolute;
	float:left;
	padding: 0px;
	margin: 0px;
}
#menu0 LI{
	DISPLAY: block;
	FLOAT: left; 
	WIDTH: 120px; 
	CURSOR: pointer; 
	LINE-HEIGHT: 30px; 
	HEIGHT: 30px; 
	TEXT-ALIGN: center; 
	list-style:none;
	margin:0px 0px 0px 10px;
	BACKGROUND: url(../images/Storage/lunx2.gif) no-repeat; 
}

#menu0 LI a{
	font:13px "宋体";
	font-weight:bold;
	color:#737373;
	text-decoration:none;
}
#menu0 LI a:hover{
	color: #FF6600;
	font-weight:bold;
	text-decoration:none;
}

#menu0 LI.hover{
	WIDTH: 120px; 
	BACKGROUND: url(../images/Storage/lunx.gif) no-repeat; 
}
.main0box{
	CLEAR: both; 
	BORDER-TOP: #d4d4d4 1px solid; 
	MARGIN-TOP: -1px; 
	WIDTH: 742px;
	overflow:hidden;
}
#main0 UL{
	padding:0px;
	DISPLAY: none;
	list-style:none;
}
#main0 UL.block{
	DISPLAY: block;
	margin:0px;
	line-height:20px;
}


/*底部*/

.foot{
	width:930px;
	height:49px;
	float:left;
	overflow:hidden;
	line-height:23px;
	color:#FFFFFF;
	text-decoration:none;
	margin-top:8px;
	padding:10px 0px 0px 20px;;
	background-color:#3f4c6b;
}

.foot a{
	color:#FFFFFF;
	text-decoration:none;
}

.bottom_tn{
	width:950px;
	margin-top:8px;
	line-height:23px;
	text-decoration:none;
	text-align:center;
	float:left;
}

.bottom_tn a{
	color: #000000;
	text-decoration:none;
}

.search_box {
	background:transparent  url(../images/index/search_box.gif) no-repeat;
	border:0 none;
	color:#999999;
	float:left;
	font-size:12px;
	height:18px;
	padding-left:5px;
	padding-top:6px;
	width:250px;
}

#pd td{
	padding-left:3px;
	padding-right:3px;
}

