/* CSS Document */
body {
	font:12px "ו";
	margin:0px auto;
	color:#555;
}

.main{
	width:932px;
	margin:0 auto;
}

.top{
	width:932px;
	height:35px;
	float:left;
}

.nav{
	width:932px;
	height:37px;
	float:left;
}

.big_pic{
	width:932px;
	height:184px;
	float:left;
}

.box{
	width:932px;
	height:750px;
	float:left;
	overflow:hidden;
}

.box2{
	width:932px;
	height:450px;
	float:left;
	overflow:hidden;
}

.left{
	width:228px;
	margin-bottom:-100000px;
	padding-bottom:100000px;
	float:left;
	background:url(/waysglobal/images/13.gif) repeat-y;
}

.left p{
	font-size:12px;
	padding:10px 24px 10px 12px;
	line-height:22px;
}

.left p a{
	font-size:12px;
	color:#555;
	text-decoration:none;
}

.left p a:hover{
	font-size:12px;
	color: #FF6600;
	text-decoration: underline;
}

.right{
	width:704px;
	float:left;
}

.right p{
	font-size:12px;
	padding:10px 12px;
	line-height:22px;
	background-color:#FFF6F7;
	border:1px solid #FAECEB;
}

.foot{
	background: url(/waysglobal/images/16.gif) repeat-x;
	float:left;
	color:#f3f3f3;
	height:33px;
	line-height:33px;
	text-align: center;
	width:932px;
}


DIV.sabrosus {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute;
	left:840px;
	top:150px;
	line-height:28px;
	z-index:2;
}
DIV.sabrosus A {
	height:13px;
	BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; COLOR: #555; MARGIN-RIGHT: 4px; PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
DIV.sabrosus A:hover {
	BORDER: #921711 1px solid;
	color:#921711;
	BACKGROUND-COLOR: lightyellow;
}

DIV.pagination A:active {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.sabrosus SPAN.current {
	BORDER: #491c19 1px solid;
	padding:4px 7px;
	COLOR: #fff; 
	MARGIN-RIGHT: 4px; 
	BACKGROUND-COLOR: #921711;
	cursor:pointer;
	FONT-WEIGHT: bold; 
}

DIV.sabrosus SPAN.notcurrent {
	BORDER: #9aafe5 1px solid;
	padding:4px 7px;
	COLOR: #555;
	MARGIN-RIGHT: 4px; 
	BACKGROUND-COLOR: #FFFFFF;
	cursor:pointer;
}


DIV.sabrosus SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}

.yt {
	line-height:30px;
	margin:10px 20px;
}


.yt img{
	vertical-align:middle;
}
