

/* CSS Document */

body{
	padding:0;
	font:12px "宋体";
	font-family: Verdana;
	margin:0px auto;
	color:#373737;
	background:url(/images2/index/main_top.jpg) repeat-x;
}

.red{
	color:#FF0000 !important;
}

.red_2{
	color:#FF6600 !important;
	font-size:12px;
}

.red_3{
	color:#971817 !important;
	font-size:14px;
}

.red_4{
	color:#373737; !important;
	font-size:14px;
}

.red_5{
	color:#971817 !important;
	font-size:12px;
}

.wit{
	color:#fff !important;
	font-size:14px;
}

.orange{
	color:#FF6600 !important;
}

.green{
	color:green;
}

.blue_1{
	color:#4f697d;
}

.blue_2{
	color:#1172be;
	font-size:14px;
}

div, p, ul, h2, h3, h4, img{
	padding:0px;
	margin:0px;
}

ul{
	list-style-type:none;
}

a{
	color:#293B5E;
	text-decoration:none;
}

a:hover{
	color:#FF6600;
	text-decoration:underline;
}

.r {
	color:#999999;
	float:right;
}

.main{
	width:950px;
	padding:0;
	margin:0 auto;
}

.gray{
	color:#666666;
}

.gray2{
	color:#999;
}


/*头部*/

.h_box{ background:#FCFCFC url(/images2/index/main_top.jpg) repeat-x; width:100%; margin-bottom:8px; float:left;}

.head{
	width:950px;
	margin:0 auto;
}

.head_top{
	width:944px;
	height:26px;
	padding:0 3px;
}

.head_top ul{
	float:right;
	color:#E7E7E7;
}

.head_top ul li {
	display:block;
	float: left;
	line-height:25px;
}

.head_top h2{
	font:12px "宋体";
	float:left;
	line-height:25px;
	padding-left:19px;
	margin:0px;
	background:url(/images2/index/LedIcon_011.GIF) no-repeat left;
}

.head_mid{
	width:100%;
	float:left;
	background:url(/images2/index/top_mid.jpg) repeat-x top;
}

.head_mid_box{ clear: both; width:950px; height:107px; margin:0px auto;}

#logo{
	width:226px;
	height:106px;
	float:left;
	margin:0 0 0 24px;
	display:inline;
}

.search_bar_box{
	width:675px;
	margin:22px 0 0 25px;
	padding:0px;
	display:inline;
	float:left;
}

.search_bar_t{
	width:675px;
	height:60px;
	float:left;
}

.search_bar_t ul{
	clear:both;
	height:25px;
	margin:0 0 0 22px;
	padding:0 0 0 2px;
	position:relative;
	width:400px;
	overflow:hidden;
	float:left;
}

.search_bar_t li{
	display:inline;
	float:left;
	width:85px;
	height:25px;
	line-height:18px;
	text-align:center;
}

.search_bar_t li a{
	display:block;
	height:25px;
	background:url(/images2/index/bar_bg2.gif) no-repeat right 6px;
	line-height:25px;
}

.search_bar_t li a:hover{
	color:#303F54;
	background:url(/images2/index/bar_bg.gif) no-repeat center;
	text-decoration: none;
}

.search_form{
	width:660px;
	height:30px;
	float:left;
	padding:6px 5px 5px 6px;
	margin:-2px 0 0 0;
	background:url(/images2/index/search_bg.gif) no-repeat center top;
}

.text_area{
	font:13px "宋体";
	line-height:24px;
	height:24px;
	width:145px;
	margin:0px;
	padding:0 5px;
	color:#ccc;
	border-top:1px solid #7A7B7D;
	border-left:1px solid #7A7B7D;
	border-bottom:1px solid #C0C4C5;
	border-right:none;
	background: url(/images2/index/text_area.gif) no-repeat center;
}

.ship_area{
	font:13px "宋体";
	line-height:24px;
	height:24px;
	width:68px;
	margin:0px;
	padding:0 5px;
	color:#ccc;
	border-top:1px solid #7A7B7D;
	border-left:1px solid #7A7B7D;
	border-bottom:1px solid #C0C4C5;
	border-right:none;
	background: url(/images2/index/text_area.gif) no-repeat center;
}

#select{
	width:126px;
	height:26px;
}

#select_text{
	width:116px;
	height:18px;
	display:block;
	cursor:pointer;
	font:13px "宋体";
	color:#ccc;
	padding:6px 0 0 5px;
	border-top:1px solid #7A7B7D;
	border-left:1px solid #7A7B7D;
	border-bottom:1px solid #C0C4C5;
	border-right:none;
	background: url(/images2/index/ss.gif) no-repeat left top;
}

#aniu{
	background:url(/images2/index/bot1.gif) no-repeat center;
	width:123px;
	height:26px;
	border:none;
}


.set{
	color:#303F54;
	text-decoration:none;
	font-weight:bold;
}

.set a{
	font:13px "宋体";
	font-weight:bold;
	background:url(/images2/index/bar_bg.gif) no-repeat center top !important;
	color:#303F54;
}

.head_nav{
	width:100%;
	height:45px;
	float:left;
	padding:0px;
	background: url(/images2/index/menu_bg.jpg) repeat-x top;
}

.head_nav ul{ width:950px; padding:2px 0; margin:0 auto;}

.head_nav ul li{
	display:block;
	list-style:none;
	float:left;
}

.head_nav ul li.divider{
	display:block;
	width:2px;
	height:41px;
	float:left;
	background: url(/images2/index/dv.gif) no-repeat center;
}

.head_nav ul li a{
	display:block;
	width:134px;
	height:27px;
	padding:14px 0 0 0;
	text-align:center;
	font:14px "宋体";
	font-weight:bold;
	color:#FFFFFF;
}

.head_nav ul li a:hover{
	background: url(/images2/index/nav_bg_2.jpg) repeat-x;
	color: #011334;
	text-decoration: none;
}

.fcl_bar{
	float:right;
	color:#666;
	line-height:18px;
	margin:6px 5px 0 0;
}

.fcl_bar a{
	color:#666;
	text-decoration:none;
}

.fcl_bar a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.service{
	border:1px solid #FF6600;
	line-height:24px;
	padding:6px;
	margin-left:70px;
}

.search{
	width:942px;
	float:left;
	background-color:#a70328;
	margin:14px 0;
	border:4px solid #a70328;
}

.search_mid{
	width:942px;
	background-color:#FFFFFF;
	float:left;
}

.search_mid p{
	line-height:26px;
	width:908px;
	float:left;
	margin:0px;
	padding:6px 15px;
	background:url(/images2/fcl/search_bg2.gif) no-repeat right bottom;
}

.search_bar{
	padding:1px;
	width:940px;
	border-bottom:1px dashed #9AB0C8;
}

.sear_top{
	margin:0px;
	height:32px;
	padding:9px 0 6px 15px;
	background: url(/images2/fcl/search_bg1.jpg) repeat-x top;
}

.search_bar img{
	vertical-align:middle;
}

.r_more a{
	clear:both;
	height:22px;
	text-decoration:underline !important;
}

.r_more a:hover{
	background-color: #FF6600 !important;
}


.search_mid p a:link{
	color: #293B5E;
	text-decoration: none;
}
.search_mid p a:visited {
	text-decoration: none;
	color: #293B5E;
}
.search_mid p a:hover {
	text-decoration: underline;
	color: #FFFFFF;
	background-color:#FF6600;
}
.search_mid p a:active {
	text-decoration: none;
	color: #293B5E;
}

.search_tips{
	margin-bottom:12px;
	width:950px;
	color:#999999;
	float:left;
}

.search_tips a{
	margin:0px;
	padding:0px 0px 0px 164px;
}

.main_left{
	width:742px;
	float:left;
	overflow:hidden;
}

.main_right{
	width:200px;
	float:left;
	overflow:hidden;
	margin:0px 0px 0px 8px;
}

.menu{
	width:924px;
	margin-top:14px;
	float:left;
	padding-left:26px;
	color:#22568F;
	background:url(/images2/fcl/jt.gif) no-repeat 18px;
}

.menu h1{
	color:#22568F;
	font:12px "宋体";
	padding:0px;
	margin:0px;
	float:left;
}

.right_tn{
	float:right;
	color:#FDEB03;
	font-weight:bold;
}

.freight_List_title{
	width:742px;
	height:25px;
	padding:2px 0px;
	float:left;
	background:url(/images2/fcl/zx.gif) no-repeat center;
}

.freight_List_title a{
	color:#29395B;
	line-height:25px;
}

.freight_List_title img{
	vertical-align:middle;
	_margin:12px 0px;
}

.freight_List_title h2{
	font:13px "宋体";
	font-weight:bold;
	float:left;
	color:#fff;
	padding:0 0 0 30px;
	margin:0px;
	width:115px;
	text-align: left;
	height:35px;
	line-height:35px;
}

.freight_List_title h2 img{
	vertical-align:middle;
	margin:1px 3px 3px 0;
}

.notice_hd{
	width:913px;
	padding:0 0 0 35px;
	float: left;
	color:#566939;
	background:#C8E59A url(/images2/fcl/dc16.gif) no-repeat 15px ;
	border:1px dashed #92ac69;
	margin-top:14px;
	line-height:28px;
}

.notice_hd p{
	float:left;
}

.notice{
	width:913px;
	padding:0 0 0 35px;
	float: left;
	color:#999;
	background:#fbf1db url(/images2/fcl/gt.gif) no-repeat 15px ;
	border:1px dashed #e6d3ab;
	margin-bottom:14px;
	line-height:28px;
}

.notice p{
	float:left;
}

.notice_bar{
	line-height:20px;
	color:#566939;
	margin:4px 0 0 12px;
	padding:0 9px 0 24px;
	background:#c8e59a url(/images2/fcl/dc16.gif) no-repeat 6px;
}

.notice_bar a{
	color:#566939;
	text-decoration:underline;
}

.notice_bar a:hover{
	color: #FF6600;
	text-decoration: none;
}

.biaoti{
	width:742px;
	height:44px;
	float:left
}

.list_box{
	width:740px;
	float:left;
	line-height:24px;
}

.list_box ul{
	width:740px;
	float:left;
	padding:0px;
	margin:0px;
	}

.list_box ul li{
	display:block;
	padding:3px 0;
	list-style:none;
	border-bottom:1px dotted #CCC;
	margin-bottom:3px;
}

.list_box ul li a{
	color:#29395B;
	text-decoration: none;
}

.list_box ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.mail{
	width:138px;
	height:16px;
	margin:7px 7px 0 0;
	display:inline;
	background:url(/images2/fcl/mail_bg.gif) no-repeat right;
	color:#2A509B;
	padding:4px 0 0 37px;
	float:right;
}

.mail a{
	color:#FF6600;
	text-decoration:underline;
}


.news_box ul li a:link,.news_box ul li a:visited,.news_box ul li a:active,.right_box ul li a:link,.right_box ul li a:visited,.right_box ul li a:active,.right_boxs ul li a:link,.right_boxs ul li a:visited,.right_boxs ul li a:active{
	font:12px "宋体";
	color:#28385A;
	text-decoration:none;
}

.right_box ul li a:hover,.right_boxs ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.fj_box p a{
	display:block;
	background:url(/images2/fcl/jt2.gif) no-repeat left;
	padding-left:6px;
	font:12px "宋体";
	line-height:22px;
	color:#28385A;
	text-decoration:none;
}

.fj_box p a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.manu {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: right;
}
.manu A {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #28385A; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-DECORATION: none
}
.manu A:hover {
	BORDER: #6A829A 1px solid;
}
.manu A:active {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu .current {
	BORDER: #491C19 1px solid; 
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 2px; 
	COLOR: #fff; 
	PADDING-TOP: 2px; 
	BACKGROUND-COLOR: #921711;
}
.manu .disabled {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid;
}

/*右边*/

.right_nav_box{
	width:192px;
	background-color:#C2CDE1;
	float:left;
	padding:4px;
	margin:0 0 8px 0;}

.right_nav{
	width:190px;
	float:left;
	padding:1px;
	background:#FFF url(/images2/fcl/bbw.gif) no-repeat right bottom;
}

.right_nav h2{
	padding:7px 0 0 12px;
	margin:0px;
	width:178px;
	height:33px;
	background:url(/images2/fcl/nav_bg.gif) no-repeat top;
	float:left;
	font:13px "宋体";
	font-weight:bold;
	color:#28385A;
}

.right_nav ul{
	width:180px;
	float:left;
	margin:0 0 10px 0;
	padding:0 0 0 10px;
}

.right_nav ul li{
	display:block;
	width:170px;
	float:left;
	height:32px;
	list-style:none;
	line-height:32px;
	border-bottom:1px dashed #B4BECA;
	background:url(/images2/fcl/jt.gif) no-repeat right;
}

.right_nav ul li a.img{
	vertical-align:middle;
	margin:0px;
	padding:0px;
	float: left;
}

.right_nav ul li a:link,.right_nav ul li a:visited,.right_nav ul li a:active {
	color: #28385A;
	text-decoration:none;
}

.right_nav ul li a:hover{
	color: #FF6600;
	text-decoration:none;
	padding-left:3px;
}

.fj{
	width:198px;
	float:left;
	border:1px solid #eb9707;
	margin:8px 0 0 0;
}

.fj h2{
	margin:0px;
	font:13px "宋体";
	font-weight:bold;
	padding:8px 0 0 29px;
	height:20px;
	color:#28385A;
	border-left:3px solid #fff3de;
	border-top:3px solid #fff3de;
	border-right:3px solid #fff3de;
	border-bottom:1px dashed #ccc;
	background:url(/images2/fcl/fj_ico.gif) no-repeat 8px;
	
}

.fj h2 a{
	font:12PX "宋体";
	font-weight: normal;
	color:#28385A;
	text-decoration:none;
}

.fj h2 a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.fj_box{
	display:inline;
}

.fj_box p{
	line-height:24px;
	margin:0px;
	padding:5px 3px;
}

.right_ad{
	margin-top:4px;
	margin-bottom:8px;
	float:left;
}

.right_boxs{
	width:196px;
	padding:1px;
	float:left;
	margin-top:8px;
	border:1px solid #E69B9B;
}

.right_boxs_title{
	width:187px;
	height:20px;
	float:left;
	background-color:#BA514D;
	padding: 7px 0px 0px 9px;
}

.right_boxs_title img{
	vertical-align:middle;
	margin:0 4px 4px 0;
}

.right_boxs ul{
	width:176px;
	padding:6px 10px 0 10px;
	margin:0px;
	float:left;
}

.right_boxs ul li{
	display:block;
	list-style:none;
	line-height:24px;
}

.right_boxs p{
	clear:both;
	padding:0px;
	margin:0px 0px 0px 18px;
	line-height:23px;
}



.right_box{
	width:198px;
	height:208px;
	float:left;
	margin-bottom:8px;
	border:1px solid #9EBCDE;
}

.right_box ul{
	width:168px;
	height:158px;
	padding:12px 15px 0px 15px;
	margin:0px;
	float:left;
}

.right_box ul li{
	display:block;
	list-style:none;
	line-height:24px;
}

.right_box_title{
	width:189px;
	height:24px;
	padding: 7px 0px 0px 9px;
	background:url(/images2/fcl/right_tt.gif) no-repeat top;
}

.right_box h2,.right_box h2 a,.right_boxs h2,.right_boxs h2 a{
	font:13px "宋体";
	font-weight:bold;
	margin:0px;
	padding:0px;
	color:#081023;
	text-decoration:none;
}

.right_box h2 a:hover{
	text-decoration:underline;
}

.right_box h2 a:hover{
	text-decoration:underline;
}

.right_box p{
	clear:both;
	padding:0px;
	margin:0px 0px 0px 18px;
	line-height:23px;
}

.ad{
	width:742px;
	height:65px;
	margin-top:8px;
	float:left;
}

.paixu {
	padding-left:15px;
	display:-moz-inline-box;
	display:inline-block;
	width:335px;
}

.tchu_box{
	width:329px;
	float:left;
}

.tchu_box_top{
	width:329px;
	height:16px;
	float:left;
	background:url(/images2/fcl/tchu1.gif) no-repeat top;
}

.tchu_box_mid{
	height:auto !important;
	width:299px;
	padding:0px 15px;
	float:left;
	overflow:hidden;
	min-height:50px !important;
	background:url(/images2/fcl/tchu_bg.gif) repeat-y;
	
}

.tchu_box_bot{
	width:329px;
	height:9px;
	float:left;
	background:url(/images2/fcl/tchu2.gif) no-repeat top;
}

.tchu_box_mid a{
	color:#293B5E;
	text-decoration:none;
	line-height:20px;
}

.tchu_box_mid a:hover{
	color: #FFF;
	background:#FF6600;
	text-decoration:none;
}

.tchu_nav {
	width:299px;
	height:24px;
	float:left;
	margin-bottom:4px;
	border-bottom:1px dashed #ccc;
}

.tchu_nav a{
	display:block;
	line-height:18px;
	font:13px "宋体";
	text-decoration:underline;
	margin:0 2px;
	float:left;
}

.tchu_nav a:hover{
	color:#FF3300;
	background:none;
 }


/*底部*/

.foot{
	width:930px;
	float:left;
	line-height:23px;
	color:#FFFFFF;
	text-decoration:none;
	margin:12px 0;
	padding:4px 0px 4px 20px;
	background-color:#931812;
}

.foot a{
	color:#FFFFFF;
	text-decoration:none;
}

.bottom_tn{
	width:950px;
	line-height:20px;
	text-decoration:none;
	text-align:center;
	float:left;
}

.bottom_tn a{
	color: #000000;
	text-decoration:none;
}

/*运价最终页*/

.info{
	width:944px;
	padding:3px;
	background-color:#8dc8f4;
	float:left;
	margin:8px 0 0 0;
}

.info_other{
	width:950px;
	float:left;
	overflow:hidden;
	margin:14px 0 0 0;
}

.info_other a{
	color: #616161;
	margin-right:8px;
	line-height:20px;
	text-decoration:none;
}

.info_other a:hover{
	color: #fff;
	background-color:#FF6600;
	text-decoration:none;
}


.info_other h2{
	font:14px "宋体";
	font-weight:bold;
	width:135px;
	height:22px;
	text-align:center;
	color:#FFF;
	background: url(/images2/fcl/h2.gif) repeat-x center;
	padding:7px 0 0 0;
	margin:0 0 0 10px;
}

.info_other p{
	margin:0px;
	padding:28px 0 0 0;
	background:url(/images2/fcl/info_otp_bg.jpg) repeat-x top;
}

.info_box{
	width:948px;
	background-color:#fff;
	border:1px solid #6B0C07;
	float:left;
	margin-top:14px;
}

.info_other_nb{
	width:942px;
	float:left;
	background:#fff url(/images2/fcl/tj.gif) no-repeat left top;
	border:1px solid #CC3333;
	padding-bottom:5px;
}

.info_other_nb h3{
	line-height:28px;
	color:#8e150e;
	margin:10px 0 5px 60px;
	padding-left:19px;
	font-size:14px;
	background:url(/images2/fcl/dj.gif) no-repeat left;
}

.info_other_box{
	width:450px;
	float:left;
	margin:0 0 0 20px;
	padding:5px 0;
}

.box_img{
	float: left;
	margin-right:10px;
}

.box_text{
	float: left;
	line-height:24px;
}

.info_mid{
	float:left;
	width:4px;
	height:380px;
	background:url(/images2/fcl/fcl4_bg.gif) no-repeat top center;
}

.info_left{
	width:659px;
	padding:1px;
	float:left;
}

.fcl_rd{
	margin-top:18px;
	width:950px;
	float:left;
}

.fcl_tel{
	width:232px;
	height:65px;
	padding:27px 0 0 18px;
	background:url(/images2/fcl/tel_bg.gif) no-repeat right bottom;
	float:right;
}

.fcl_tel img{
	vertical-align:middle;
	margin:0 5px 0 0;
}

.fcl_tel a{
	color:#000;
	text-decoration:none;
}

.fcl_login{
	width:300px;
	height:61px;
	padding:24px 15px 0 0;
	background:url(/images2/fcl/login_bg.gif) no-repeat right 20px;
	float:right;
}

.fcl_final_login{
	width:174px;
	padding:6px 0 0 0;
	float:right;
}

.fcl_login a{
	display:block;
	line-height:28px;
}

.fcl_login a img{
	vertical-align:middle;
	margin:-3px 5px 0 0;
}

.fcl_final_login a{
	display:block;
	line-height:28px;
	float:left;
	padding:0 7px;
	background:url(/images2/fcl/jt.gif) no-repeat left;
}


#bttj{
	width:611px;
	text-align:center;
	border:none;
	padding:13px 0;
	color:#999;
	font:12px "宋体";
	
}

#bttj img{
	vertical-align:middle;
	margin:0 0 7px 0;
}

.info_left h1{
	font:20px "宋体";
	margin:0 0 1px 0;
	padding:11px 0 0 30px;
	height:31px;
	background:url(/images2/fcl/zz_bg.JPG) repeat-x;
	font-weight:bold;
}

.info_left ul{
	margin:0px;
	padding:19px 0 0 33px;
	overflow:hidden;
	width:624px;
	border-top:1px dashed #c1a7a6;
}

.info_left ul li{
	display:block;
	width:295px;
	font:13px "宋体";
	border-bottom:1px dashed #e5e4e4;
	float:left;
	list-style:none;
	line-height:32px;
}

.info_left h2{
	font:14px "宋体";
	font-weight:bold;
	color:#28385A;
	padding:0px;
	margin:30px 0px 0px 22px;
}

.info_right{
	width:286px;
	float: left;
	background:#FCF8F8;
	border-left:1px solid #6B0C07;
	margin:0px;
	padding:0 0 45px 0;
}

.info_right h2{
	width:262px;
	font:14px "宋体";
	height:26px;
	font-weight:bold;
	padding:15px 0 0 24px;
	margin:0px;
	float:left;
	color:#28385A;
}

.info_right h2 a{
	color:#555;
	text-decoration:underline;
}

.info_right h2 a:hover{
	color: #FF6600;
	text-decoration:underline;
}

.other_list{
	width:950px;
	float:left;
	background:url(/images2/fcl/qit1.gif) repeat-x center 30px;
	padding:1px;
	overflow:hidden;
	margin:18px 0 0 0;
}

.other_list h1{
	margin:0px;
	padding:0px;
	height:29px;
	font:14px "宋体";
	font-weight:bold;
	background:url(/images2/fcl/diqiu.png) no-repeat 16px 5px;
	line-height:29px;
	padding:0 0 0 38px;
}

.other_list_left{
	width:685px;
	margin:0px;
	float:left;
	display:inline;
}

.other_list_left h2{
	font:13px "宋体";
	margin:0px;
	background:url(/images2/fcl/jt.gif) no-repeat 25px 18px;
	padding:13px 0px 10px 35px;
}

.other_list_right h2{
	font:13px "宋体";
	background:url(/images2/fcl/jt.gif) no-repeat 12px 18px;
	margin:0px;
	padding:13px 0px 0px 23px;
}

.other_list_box{
	width:950px;
	float:left;
}

.other_list_box a{
	color:#28385A;
	text-decoration:none;
	}

.other_list_box a:hover{
	color:#FF6600;
	text-decoration:underline;
}

.other_list_right{
	width:250px;
	float:right;
}

.other_list_right ul{
	margin:0px;
	padding:10px;
	float:left;
}

.other_list_right ul li{
	display:block;
	width:230px;
	list-style:none;
	line-height:26px;
	border-bottom:1px dashed #C8C8C8;
}

.other_list_right ul li a:link,.other_list_right ul li a:visited,.other_list_right ul li a:active{
	color:#28385A;
	text-decoration:none;
}

.other_list_right ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}

.details_info {
	width:254px;
	margin:12px 0 0 12px;
	padding:6px 0 0 0;
	display:inline;
	overflow:hidden;
	float:left;
	border-top:1px solid #E5E4E4;
}

.details_info ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 20px;
}

.details_info ul li{
	font:12px "宋体";
	display:block;
	list-style:none;
	line-height:24px;
}

.details_info ul li img{
	vertical-align:middle;
}

.details_info ul li a{
	color:#FF6600;
	text-decoration:underline;
}

.assured{
	width:196px;
	float: left;
	background:#edf5fc;
	border:1px solid #BEC8D1;
	margin:8px 0 0 0;
}

.assured h2{
	width:196px;
	height:35px;
	background:url(/images2/company/assured_tit.GIF) no-repeat top;
	text-align:center;
	float: left;
}

.assured ul{
	margin:2px 0;
	padding:12px 0 0 0;
	background:url(/images2/company/assured_bg2.gif) no-repeat top center;
	float:left;
}

.assured ul li{
	width:176px;
	list-style:none;
	color:#4D6F91;
	line-height:24px;
	padding:0 10px;
	margin:0px;
}

.assured ul li a{
	color:#666666;
}

.assured ul li a:hover{
	color: #FF6600;
}

.assured_an{
	float:left;
	padding:4px 0 9px 15px;
	display:inline;
}


.blue_box{
	width:590px;
	background:#FCF8F8;
	float:left;
	margin:0px;
	text-align:center;
	padding:0px;
	overflow:hidden;
}

.sju{
	font:20px "宋体";
	color:#28385A;
	font-weight:bold;
	line-height:64px;
	margin:0 22px ;
}

.sju a{
	font:30px "宋体";
	color:#FF0000;
	font-weight:bold;
}

.zhushi{
	width:565px;
	text-align:right;
	background:#FCF8F8;
	float:left;
	line-height:22px;
	font:12px "宋体";
	padding:0 25px 10px 0;
}

.zhushi img{
	vertical-align:middle;
	margin:-2px 3px 0 0;
}

.name{
	margin:10px 0px 0px 0px;
	font:13px "宋体";
	color:#FF0000;
	font-weight:bold;
	float:left;
}

#pic{
	float:left;
	padding:10px 0px 0px 24px;
	margin: 0px 20px 8px 0px;
}

#pd td{
	padding-left:8px;
}

#pic img {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CBCCC7;
	padding:3px;
}

.comments{
	width:942px;
	padding:0px;
	float:left;
	margin:18px 0 0 0;
}

.comments_title{
	width:942px;
	height:35px;
	float:left;
	overflow:hidden;
	background:url(/images2/fcl/pjia.gif) repeat-x top;
}


.comments_title h2{
	font:14px "宋体";
	font-weight:bold;
	width:111px;
	height:20px;
	float:left;
	padding:10px 0 0 30px;
	margin:0px;
}

.comments_title a{
	margin:10px 15px 0 0;
	float:right;
}

.comments_box{
	width:894px;
	line-height:23px;
	float:left;
	padding:0 0 12px 46px;
}

.tishi{
	width:203px;
	height:59px;
	line-height:20px;
	padding:6px 15px;
	color:#4d4d3f;
	float:left;
	background:url(/images2/fcl/tishi.GIF) no-repeat center;
}

/*翻页*/

.page {
	color:#333333;
	height:25px;
	line-height:25px;
	float: right;
	margin:8px 0;
}

.page .selected, .page .selected a, .page a.selected:hover {
	background:#921711;
	border:1px solid #491C19;
	color:#FFFFFF;
	padding:2px 6px;
}

.page a:hover {
	background-color:#FFFFFF;
	border:1px solid #921711;
	color:#000000;
	text-decoration:none;
}

.page a {
	border:1px solid #C2C2C2;
	color:#585858;
	padding:2px 6px;
}

.f666, .page .f666 {
	color:#999999;
	font-size:12px;
	font-weight:normal;
	padding-left:8px;
}

.f666, .f666 a, a.f666 {
	color:#666666;
	text-decoration:none;
}

.next{
	background:url(/images2/fcl/next_2.gif) no-repeat  93px;
}

.page_head{
	color:#666666;
	height:25px;
	padding-left:8px;
	line-height:25px;
	float: left;
	margin:8px 0;
}

.yt{
	vertical-align:middle;
	margin:0 18px 0 3px;
}


/*2011 fcl*/
.s_bar{ width:950px; float:left; margin-bottom:-14px;}
	.s_bar_l{ width:28px; height:90px; float:left}
	.s_bar_m{ width:917px; height:90px; float:left; background:url(/images2/2011_fcl/bar_bg.jpg) repeat-x top;}
		.s_bar_mp{ width:917px; height:60px; float:left; background: url(/images2/2011_fcl/bar_map.jpg) no-repeat 480px 0; padding:30px 0 0 0; font-size:14px;}
	.s_bar_r{ width:5px; height:90px; float:left}
	.fd_jt{width:7px; height:33px; position: relative; left: -7px; top: -60px; overflow:hidden;}
	.r_nav{ width:200px; float:left; margin-top:4px;}
		.r_nav_top,r_nav_bt{ float:left;}
		.r_nav_md{ width:200px; float:left; background:url(/images2/2011_fcl/r_nav_bg.gif) repeat-y;}
			.r_nav_md h2{ width:196px; height:29px; text-align:center; font-size:14px; line-height:29px; background:url(/images2/2011_fcl/r_nav_md.gif) no-repeat top; margin:0 2px;}
			.r_nav_md ul{ width:164px; margin:0px 0px 0px 5px; border-bottom:1px solid #D9D9D9; border-left:1px solid #D9D9D9; border-right:1px solid #D9D9D9; border-top:1px solid #9F0500; float:left; background-color:#FFFFFF; float: left; padding:0 12px 12px 12px;display:inline;}
				.r_nav_md ul h3{ font-size:12px; margin-bottom:5px; padding-top:13px;}
				.r_nav_md ul p{ border-bottom:1px dotted #ccc; padding-bottom:4px;}
					.r_nav_md ul h3 img{ vertical-align:middle; margin: 0 5px 0 0;}
				.r_nav_md ul p a{ color:#373737; line-height:24px;}

		.r_nav_md2{ width:200px; float:left; background:url(/images2/2011_fcl/r_nav_bg.gif) repeat-y;}
			.r_nav_md2 h2{ width:196px; height:29px; text-align:center; font-size:14px; line-height:29px; background:url(/images2/2011_fcl/r_nav_md.gif) no-repeat top; margin:0 2px; padding-left:8px;}
			.r_nav_md2 ul{ width:168px; margin:0px 0px 0px 5px; border-bottom:1px solid #D9D9D9; border-left:1px solid #D9D9D9; border-right:1px solid #D9D9D9; border-top:1px solid #D9D9D9; float:left; background-color:#FFFFFF; float: left; padding:0 10px 12px 10px;display:inline;}
				.r_nav_md2 ul h3{ font-size:12px; margin-bottom:5px; padding-top:13px;}
				.r_nav_md2 ul p{ border-bottom:1px dotted #ccc; padding-bottom:4px;}
					.r_nav_md2 ul h3 img{ margin: 0 2px 0 0;}
				.r_nav_md2 ul p a{ color:#373737; line-height:24px;}
				
				.r_hot{ width:200px; float:left; margin-top:6px;}
					.r_hot_top{ width:180px; height:25px; float: left; background:url(/images2/2011_fcl/r_hot.jpg) no-repeat top; font-size:14px; color:#FFF; padding:20px 0 0 20px;}
					.r_hot_bt{ width:200px; float:left;}
					.r_hot_md{ width:174px; border-left:1px solid #BA9D9F; border-right:1px solid #BA9D9F; float:left; padding:6px 12px; line-height:24px;}
	.bot_box{ width:950px; float: left;}
		.bot_box_l{ width:8px; height:254px; float:left;}
		.bot_box_m{ width:934px; height:254px; float:left; background:url(/images2/2011_fcl/bt_m.gif) repeat-x top;}
			.sp_l{ width:242px; height:236px; float:left; margin:9px 0; border-right:1px dotted #ccc;}
				.sp_l h2,.sp_m h2{ font-size:14px; line-height:36px; border-bottom:1px dotted #ccc; margin:0 12px; padding:4px 0;}
					.sp_l h2 img,.sp_m h2 img{ vertical-align:middle; margin-right:8px;}
					.sp_l p{  margin:0 12px; padding:8px 0; line-height:24px;}
			.sp_r{ width:202px; height:236px; margin:9px 1px; float: right; background:url(/images2/2011_fcl/bt_r_bg.jpg) no-repeat top;}
				.sp_r h2{  font-size:14px; line-height:36px;  margin:0 12px -6px 12px; padding:4px 0;}
				.sp_m h2{ border: none; margin:0 12px; padding:4px 0;}
				.sp_r ul{  margin:0 15px;}
					.sp_r ul li{ line-height:24px; float: left}
				.sp_m{ width:485px; height:236px; float: left; margin:9px 0; border-right:1px dotted #ccc; line-height:22px;}	
				.sp_m_link a{ margin-right:8px; }					
		.bot_box_r{ width:8px; height:254px; float:left;}

/*2011 list*/
	.s_b2_l{ width:27px; height:186px; float: left;}
	.s_b2_m{ width:918px; height:186px; float:left; background: url(/images2/2011_fcl/b4ar.jpg) repeat-x top;}
		.s_b2_list{ width:864px; height:110px; float: left; line-height:26px; padding:0 18px; border-top:1px dotted #ccc; padding-top:9px; margin-top:9px; background:url(/images2/2011_fcl/b4ar_bbg.jpg) no-repeat 498px bottom;}
	.s_b2_r{ width:5px; height:186px; float: left;}
	
	.s_b3_l{ width:27px; height:146px; float: left;}
	.s_b3_m{ width:918px; height:146px; float:left; background: url(/images2/2011_fcl/b4ar_3.jpg) repeat-x top;}
		.s_b3_list{ width:864px; height:60px; float: left; line-height:26px; padding:0 18px; border-top:1px dotted #ccc; padding-top:9px; margin-top:9px; background:url(/images2/2011_fcl/b4ar_bbg_3.jpg) no-repeat 498px bottom;}
	.s_b3_r{ width:5px; height:146px; float: left;}
	.fd3_jt{width:7px; height:33px; position: relative; left: -7px; top: -126px; overflow:hidden;}
		
	.fd2_jt{width:7px; height:33px; position: relative; left: -7px; top: -166px; overflow:hidden;}
		.service2{ line-height:25px; padding:0 9px; margin-left:90px; background:url(/images2/2011_fcl/ti_bg.jpg) repeat-x; height:25px; display:block; float: left; color:#FFFFFF;}
	.r_news{ width: 200px; float:left; margin-top:12px;}	
		.r_news_top,.r_news_bt{ width:200px; float:left;}
		.r_news_md{  width:198px; float:left; border-left:1px solid #CFCFCF; border-right:1px solid #CFCFCF;}
			.r_news_md h2{ font-size:14px; line-height:32px; background:url(/images2/2011_fcl/r_news_h.gif) no-repeat bottom center; padding:0px 0px 0px 12px; }
			.fat{ width:174px; float:left; padding:8px 12px; background:url(/images2/2011_fcl/r_news_bbg.gif) no-repeat 98px 100px;line-height:24px; }
				.fat a{ line-height:24px; color:#373737;}
	.cp_show{ width:930px; height:209px; padding:10px; background:url(/images2/2011_fcl/cp_1.jpg) no-repeat center; float:left; margin-bottom:24px; line-height:24px;}		
	.t_box{ width:950px; float:left; line-height:24px; margin-bottom:12px;}	
	.t_box a{ margin-right:8px;}		
	
	
.tb_freight_01{
	width: 160px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-moz-binding:url('ellipsis.xml#ellipsis');
	overflow:hidden;

}

.tb_freight_01 a{
	-moz-binding:url('ellipsis.xml#ellipsis');
}

.tb_freight_02{
	width: 80px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-moz-binding:url('ellipsis.xml#ellipsis');
	overflow:hidden;

}

.tb_freight_02 a{
	-moz-binding:url('ellipsis.xml#ellipsis');
}

.tb_freight_03{
	width: 90px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-moz-binding:url('ellipsis.xml#ellipsis');
	overflow:hidden;

}

.tb_freight_03 a{
	-moz-binding:url('ellipsis.xml#ellipsis');
}


.tb_freight_04{
	width: 160px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-moz-binding:url('ellipsis.xml#ellipsis');
	overflow:hidden;

}

.tb_freight_04 a{
	-moz-binding:url('ellipsis.xml#ellipsis');
}

.tb_freight_05{
	width: 115px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-moz-binding:url('ellipsis.xml#ellipsis');
	overflow:hidden;

}

.tb_freight_05 a{
	-moz-binding:url('ellipsis.xml#ellipsis');
}

.tb_freight_06{
	width: 155px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-moz-binding:url('ellipsis.xml#ellipsis');
	overflow:hidden;

}

.tb_freight_06 a{
	-moz-binding:url('ellipsis.xml#ellipsis');
}

.st{
	background:url(/images2/index/nav_bg_2.jpg) repeat-x;
}

.st a{
	color:#011334 !important;
}


#arrow{
	width:14px;
	height:24px;
	z-index:999;
	float:left;
	left:-12px;
	top:45px;
	position: absolute;
}

.pop_main{
	width:420px;
	background:#fff;
    height:auto!important;
    border:1px solid #ebd2ca;
	float:left;
	position: relative;
}

.pop_main p td{
	padding:0 4px;
}

.pop_main h2{
	padding:6px;
	color:#566939;
	background:#C8E59A ;
	border:1px dashed #92ac69;
	margin:0px;
	font:12px "宋体";
	line-height:22px;
}

.pop_main p{
	border:3px solid #c8e3ff;
	margin:0px;
	color:#555;
	padding:4px 8px;
	line-height:24px;
}

.pop_main .pop_main_sub{
	border:3px solid #fdf6f4;
	margin:0px;
	color:#555;
	padding:4px 8px;
	line-height:24px;
}

.dc a{
	color:#22568F;
	text-decoration:none;
}

.dc a:hover{
	color: #FF6600;
	text-decoration: underline;
}

#prot_warp
{
    font-size: 12px;
	font-family: arial, simsun;
	border:#7f9db9 1px solid;
	padding:4px;
	text-align: left;
	background-color: #ffffff;
	margin: 0px;
}
#prot_warp #prot_list a {
	color: #0055aa;
	text-decoration: none;
	line-height: 20px;
	display: block;
	curso: pointer;
	text-align: left;
	text-decoration:none;
	background-color:white;
	padding-left:5px;
	border:#fff 0px solid;
}
#prot_warp #prot_list a:hover{
	border-top: #7f9db9 1px solid;	
	background: #e7f1fd;	
	border-bottom: #7f9db9 1px solid;
}
#prot_warp #prot_list .hov{
	border-top: #7f9db9 1px solid;	
	background: #e7f1fd;	
	border-bottom: #7f9db9 1px solid;
}
#prot_warp #prot_list span {
	padding-right: 0px;
	padding-left: 0px;
	float: right;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	text-align: left;
}

#prot_warp #prot_message {
	padding-right: 0px;
	display: block;
	padding-left: 5px;
	padding-bottom: 0px;
	color: #666;
	word-break: break-all;
	line-height: 20px;
	padding-top: 0px;
	border-bottom: #aaa 1px dashed;
	font-family: "simyou";
	word-wrap: break-word;
}
.autodiv
{
    max-height:300px;
    -webkit-max-height:300px;
    height:expression(this.scrollHeight>299?"300px":"auto");
}

/* 右下角提示相关 */
#downmsg_emessage{position:fixed;_position:absolute;z-index:100;bottom:0;right:0;background:url() no-repeat left top;width:262px;}
#donwmsg_head{float:left;display:inline;font-size:12px;color:#ffffff;margin-left:26px;margin-top:6px;}
#downmsgBar .close{float:right;width:11px;height:11px;margin-top:6px;display:block;margin-right:5px;}
#downmsgBar{height:25px;}
#donwmsg_content{height:261px;overflow:hidden;}

.msg-hidden-btn-2{width:11px;height:11px;overflow:hidden;float:right;display:block;margin-right:5px;margin-top:6px;background:url() no-repeat left -250px;}
.msg-hidden-btn-1{width:11px;height:11px;overflow:hidden;float:right;display:block;margin-right:5px;margin-top:6px;background:url() no-repeat -50px -250px;}
.sectionshover .trans{border:solid 1px #ffc600;background-color:#fff0b6;height:24px;}
.sectionshover .trans li{float:left;width:200px;clear:none;}

.box_main{
	width:370px;
	border:1px solid #9DB0BC;
	padding:5px;
	background:#D2E6F3 url(/images2/fcl/tanchu_2_bg.jpg) repeat-x top;
}
 
.box_main_b{
	width:250px;
	border:1px solid #9DB0BC;
	padding:5px;
	background:#D2E6F3 url(/images2/fcl/tanchu_2_bg.jpg) repeat-x top;
}
 
.box_main h2,.box_main_b h2{
	font-size:14px;
	line-height:26px;
	padding:0 8px;
	margin:0px;
}
 
.box_p a,.box_main_b h2 a{
	color:#44576D;
	font-size:14px;
}
 
.box_p_b a{
	color:#44576D;
	font-size:12px;
}
 
.box_p_b a:hover{
	color:#FF6600;
	text-decoration:none;
}
 
.box_p a:hover,.box_main_b h2 a:hover{
	color:#FF6600;
	text-decoration:none;
}
 
.box_p{
	width:344px;
	padding:12px;
	font-size:14px;
	line-height:28px;
	background:#fff;
	margin-top:6px;
	border:1px solid #9DB0BC;
}
 
.box_p_b{
	width:224px;
	padding:12px;
	font-size:12px;
	line-height:22px;
	background:#fff;
	margin-top:6px;
	border:1px solid #9DB0BC;
}
 
.box_p img,.box_p_b img{
	vertical-align:middle;
	margin-left:6px;
}
 
.box_p p{
	line-height:18px;
	margin:0px;
	text-align: center;
	margin:10px 0;
}
 
.box_p_b p{
	color:#FF0000;
	line-height:18px;
	margin:0px;
	text-align: right;
}
 
.r{
	float:right;
	margin-right:8px;
}
 
.r a{
	line-height:26px;
	display:block;
	color:#44576D;
	font-size:14px;
}
 
.r a:hover{
	color:#FF6600;
	text-decoration:none;
}
 
.jies{
	float:left;
	width:850px;
	line-height:24px;
	text-indent:24px;
	color:#7D7D7D;
	overflow:hidden;
	margin:15px 0 0 0;
	padding:0 10px 0 0px;
	float:left;
}

.jies h2,.nt h2,.ns h2{
	text-indent:0px;
	padding:0 0 0 6px;
	margin:0 0 5px 0;
	font:14px "宋体";
	font-weight: bold;
	color:#05233b;
	background:none;
}

#ps{
	line-height:22px;
	background-color:#FFF6F7;
	width:828px;
	padding:5px 10px;
	border:1px solid #FAECEB;
	margin-top:12px;
}

.nt{
	margin-bottom:15px;
	border-bottom:1px dashed #ccc;
	line-height:30px;
}

.nt p{
	margin:0px;
	padding:0px;
}


.nt p a{
	color:#235884;
	text-decoration:none;
}

.nt p a:hover{
	color:#FF6600;
	text-decoration: underline;
}


.tmb1{
	width:150px;
	word-wrap: break-word; 
	word-break: normal;
}

.tmb2{
	width:100px;
	word-wrap: break-word; 
	word-break: normal;
}


#textnomouse a{
	color:#581616;
	text-decoration:none;
}

#textnomouse2 a{
	text-decoration:none;
	color:#FFCC33;
}
body{
	padding:0;
	font:12px "宋体";
	margin:0px auto;
}

.13n{
	font:13px ;
}

.14n{
	font-size:14px ;
}

.main_container{
	width:950px;
	height:auto;
	margin:0px auto;
}

.bold{
	font-weight:bold;
}

.red{
	color:#FF0000;
}

.orange{
	color:#FF6600;
}

.gray{
	color: #7D7D7D;
	text-decoration:none;
	}

.blue{
	color:#081023;
	text-decoration:none;
}

.blue2{
	color:#28385A;
	text-decoration:none;
}

.blue3{
	color:#2B7CCD;
	text-decoration:none;
}

.green{
	color:green;
}

.blue a:link,.blue a:visited,.blue a:active{
	color:#28385A;
	text-decoration:none;
}

.blue a:hover,.blue3:hover{
	color:#FF6600;
	text-decoration:underline;
}

/*顶部登陆*/

.top_bar{
	width:946px;
	height:25px;
	color:#1E5995;
	padding:0px 1px 1px 1px;
	border-bottom:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
	border-left:1px solid #DFDFDF;
}

.top_bar_hd{
	width:934px;
	height:25px;
	padding:0px 0px 0px 12px;
	background:url(../images/index/top_bar_bg.jpg) repeat-x;
}

.top_bar_hd h2{
	font:12px "宋体";
	float:left;
	width:200px;
	line-height:25px;
	margin:0px;
}

.top_bar_hd ul{
	display:block;
	float:right;
	width:565px;
	margin:0px;
	padding:0px;
}

.top_bar_hd ul li{
	list-style:none;
	line-height:25px;
	float:right;
}

.top_bar_hd ul li a{
	line-height:25px;
}

.top_bar_hd ul li a:link,.top_bar_hd ul li a:visited,.top_bar_hd ul li a:active {
	color: #1E5995;
	text-decoration:none;
}

.top_bar_hd ul li a:hover,.freight_detail a:hover {
	color: #FF6600;
	text-decoration:underline;
}

/*头部LOGO*/

.header{
	width:950px;
	height:72px;
	margin:0px;
	padding:0px;
	float:left;
	color:#1E5995;
	overflow:hidden;
	background: url(../images/bbs/topbg.GIF) no-repeat right top;
}

#logo{
	float:left;
	margin-left:13px;
}

.header ul{
	float: right;
	margin:0px;
	padding:22px 0px 0px 0px;
}

.header ul li{
	display:block;
	list-style:none;
	text-align: left;
	float:left;
	line-height:28px;
}

.header ul li img{
	vertical-align:middle;
	padding-bottom:5px;
}

.header ul li a:link,.header ul li a:visited,.header ul li a:active {
	font:14px "宋体";
	font-weight:bold;
	color:#28385A;
	text-decoration:none;
}

.header ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}


/*导航*/

.menu{
	width:950px;
	height:47px;
	padding:0;
	float:left;
	background: url(../images/bbs/navbg.GIF) no-repeat;
}

.menu ul{
	margin:0px;
	padding:0px 0 0 170px;
}

.menu ul li.divider{
	display:block;
	width:2px;
	height:47px;
	float:left;
	background: url(../images/bbs/nav_gd.gif) no-repeat center;
}

.menu ul li{
	display:block;
	list-style:none;
	width:105px;
	text-align:center;
	float:left;
	font:14px "宋体";
	font-weight:bold;
}

.menu ul li a{
	line-height:47px;
	color:#000000;
	text-decoration:none;
}

.menu ul li a:link,.menu ul li a:visited,.menu ul li a:active {
	color:#000000;
	text-decoration:none;
}

.menu ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}


.right_tn{
	float:right;
	color:#FDEB03;
	font-weight:bold;
}

.right_tn a{
	color:#FDEB03;
	text-decoration:none;
}

.right_tn a:hover{
	color:#FDEB03;
	text-decoration: underline;
}

.r {
	font-size:12px;
	color:#999999;
	float:right;
}

/*页面主体*/

.main_content,.main_top{
	clear:both;
	width:950px;
}

.main_top_left1{
	width:678px;
	float:left;
}


.main_top_right1{
	width:264px;
	float: left;
	margin:0 8px 0 0;
}

.main_top_left{
	width:678px;
	float:left;
}

.left_box{
	width:676px;
	height:258px;
	float:left;
	margin-top:8px;
	border:1px solid #ccc;	
}


.main_top_right{
	width:264px;
	float: left;
	margin:8px 0 0 8px;
}

.pic_show{
	width:299px;
	height:244px;
	padding:7px;
	float:left;
}

.news{
	width:360px;
	height:256px;
	padding:1px;
	border-left:1px solid #ccc;
	float:right;
}

.news_box{
	width:360px;
	height:256px;
	background:url(../images/bbs/news_bg.jpg) repeat-x;
	}

.news_box h2{
	margin:0px;
	padding:9px 0 0 6px;
	font:16px "宋体";
	font-weight:bold;
	color:red;
}

.news_box p{
	line-height:24px;
	width:342px;
	height:76px;
	color:#999999;
	margin:8px 0 0 0;
	padding:0 8px;
	text-indent:24px;
	border-bottom:1px dashed #ccc; 
}

.news_box ul{
	line-height:24px;
	margin:9px 0 0 0;
	padding:0 8px;
	font:14px "宋体";
}

.news_box ul li{
	display:block;
	list-style:none;
	padding:0 0 0 10px;
	color:#215680;
	line-height:24px;
	background:url(../images/bbs/jt.gif) no-repeat left;
}

.news_box ul li a:link,.news_box ul li a:visited,.news_box ul li a:active,.help_box ul li a:link,.help_box ul li a:visited,.help_box ul li a:active {
	color:#215680;
	text-decoration:none;
}

.news_box ul li a:hover,.help_box ul li a:hover{
	color:#215680;
	text-decoration: underline;
}


.news_box h2 a:link,.news_box h2 a:visited,.news_box h2 a:active {
	color:red;
	text-decoration:none;
}

.news_box h2 a:hover{
	color:red;
	text-decoration: underline;
}

.help{
	width:674px;
	height:237px;
	float:left;
	margin-top:8px;
	padding:0 0 0 4px;
	background-color:#E0EEFB;
}

.help_box{
	width:331px;
	height:227px;
	border:1px solid #A8C4DA;
	background:#fff;
	float:left;
	margin:4px 0 0 0;
}

.help_box ul{
	margin:12px 0 0 0;
	padding:0 11px;
	font:14px "宋体";
}

.help_box ul li{
	display:block;
	list-style:none;
	line-height:24px;
	color:#215680;
}

.help_box h2{
	width:316px;
	height:22px;
	background-color:#E0EEFB;
	margin:2px;
	padding:8px 0 0 11px;
	font:14px "宋体";
	font-weight:bold;
}

.help_box h2 a:link,.help_box h2 a:visited,.help_box h2 a:active,.talk_box h2 a:link,.talk_box h2 a:visited,.talk_box h2 a:active {
	color:#000000;
	text-decoration:none;
}

.help_box h2 a:hover,.talk_box h2 a:hover{
	color:#000000;
	text-decoration: underline;
}

.lodin_box{
	height:179px;
	width:262px;
	float:left;
	border:1px solid #FF8C05;
}

.lodin_box h2{
	margin:0px;
	padding:8px 0 0 33px;
	height:22px;
	font:14px "宋体";
	font-weight:bold;
	background:url(../images/bbs/ld_ico.gif) no-repeat 4px 5px;
}

.lodin_box h2 a{
	color:#FF6600;
	text-decoration:none;
}

.lodin_box h2 a:hover{
	color:#FF6600;
	text-decoration: underline;
}

.nb{
	width:254px;
	height:136px;
	margin:0 0 4px 4px;
	padding:8px 0 0 0;
	background:url(../images/bbs/ldbg.GIF) no-repeat center;
}

.username,.password,.ld_bt{
	line-height:30px;
	padding:0 0 0 18px;
	height:30px;
}

.ld_bt img{
	vertical-align:middle;
}

.ld_nav{
	height:22px;
	padding:10px 0 0 18px;
	margin:14px 0 0 0;
	border-top:1px dashed #FF8A02;
}

.ld_nav a{
	color:#225781;
}

.ld_nav img{
	vertical-align:middle;
	margin-right:3px;
}

.attention{
	width:254px;
	height:338px;
	padding:4px;
	border:1px solid #A8C56B;
	float:left;
	margin-top:8px;
}

.at_box{
	width:254px;
	float:left;
}

.at_box h2{
	height:17px;
	font:14px "宋体";
	margin:0px;
	padding:2px 0 0 30px;
	font-weight:bold;
	color:#398104;
	font-weight:bold;
	background:url(../images/bbs/at_bg.gif) no-repeat center;
}

.at_box h2 a{
	color:#398104;
	text-decoration:none;
}

.at_box h2 a:hover{
	text-decoration: underline;
}

.at_show{
	overflow:hidden;
	margin:6px 0 0 0;
	height:72px;
}

.at_box ul{
	margin:5px 0 0 0;
	padding:0 6px 0 8px;
}

.at_box ul li{
	display:block;
	list-style:none;
	height:18px;
	padding:6px 0 0 0;
	border-bottom:1px dashed #e3e3e3;
}

.at_box ul li a{
	color:#215680;
	text-decoration:none;
}

.at_box ul li a{
	color:#215680;
	text-decoration:none;
}

.at_box ul li a:hover{
	color: #FF6600;
	text-decoration:none;
}

.at_box ul li img{
	vertical-align:middle;
	margin-right:5px;
}

.text{
	line-height:24px;
	color:#215680;
}
	
.text a{
	color:#215680;
	text-decoration:none;
}

.text a:hover{
	color:#215680;
	text-decoration: underline;
}	

.pic{
	float:left;
	padding:0px;
	margin: 0px;
}

.pic img {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CBCCC7;
	padding:2px;
	margin:4px;
}

.pic img:hover {
	background:#FFFFFF none repeat scroll 0 0;
	border:2px solid #A8C56B;
	padding:1px;
	margin:4px;
}

.main_bot{
	clear:both;
	width:950px;
	float:left;
}

.main_bot_left{
	width:335px;
	margin-top:8px;
	float:left;
	overflow:hidden;
}

.talk{
	width:335px;
	height:237px;
	float:left;
	background-color:#EDEDED;
}

.talk_box{
	width:325px;
	height:227px;
	background-color:#FFFFFF;
	border:1px solid #BBBBBB;
	margin:4px 0 0 4px;
}

.talk_box h2{
	background-color:#DADADA;
	font:14px "宋体";
	font-weight:bold;
	height:22px;
	margin:2px;
	padding:8px 0 0 11px;
	width:310px;
	}
	
.talk_show{
	margin:12px 0 0 0;
	padding:0 0 0 14px;
	overflow:hidden;}
	
.talk_pic{
	text-align:center;
	float:left;
	margin:0;
	padding:0;
}

.talk_pic a{
	color:#000;
	text-decoration:none;
}

.talk_pic a:hover{
	color:#000;
	text-decoration: underline;
}

.talk_pic img {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CBCCC7;
	padding:2px;
	margin:4px 4px 8px 4px;
}

.talk_pic img:hover {
	background:#FFFFFF none repeat scroll 0 0;
	border:2px solid #FF6600;
	padding:1px;
	margin:4px 4px 8px 4px;
}

.txt_link ul{
	margin:0px;
	padding:0px;
}

.txt_link ul li{
	display:block;
	color:#215680;
	list-style:none;
	font:14px "宋体";
	line-height:24px;
}

.txt_link ul li a:link,.txt_link ul li a:visited,.txt_link ul li a:active{
	color:#215680;
	text-decoration:none;
}

.txt_link ul li a:hover{
	color:#215680;
	text-decoration: underline;
}

.band{
	width:335px;
	height:241px;
	margin:8px 0 0 0;
	float:left;
	background:url(../images/bbs/ggao.GIF) no-repeat center;
}

.band ul{
	padding:0 80px;
	margin:50px 0 0 0;
}

.band ul li{
	display:block;
	list-style:none;
	line-height:24px;
	color:#FFFFFF;
}

.band ul li a{
	color:#FFFFFF;
	text-decoration:none;
}

.band ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}


.main_bot_right{
	width:607px;
	margin:8px 0 0 8px;
	float: left;
	overflow:hidden;
}

.pic_bank{
	width:605px;
	height:235px;
	border:1px solid #B3C0D3;
	float:left;
}

.pic_bank h2{
	height:24px;
	width:585px;
	margin:0px;
	padding:3px 0 0 20px;
	font:14px "宋体";
	background:url(../images/bbs/pic_bg.jpg) repeat-x;
}

.pic_bank h2 a{
	display:block;
	text-align:center;
	padding:6px 0 0 0;
	width:88px;
	height:18px;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
	background:url(../images/bbs/pic_a.gif) no-repeat;
}

.pic_bank h2 a:hover{
	text-decoration: underline;
}

.small_pic{
	margin:15px 12px 0 0px;
	float:left;
}

.small_pic a{
	display: block;
	border:1px solid #CBCCC7;
	padding:1px;
	text-align:center;
	width:82px;
	color:#535353;
	font-family:Tahoma,Arial,"宋体";
	text-decoration:none;
}

.small_pic a:hover{
	border:1px solid #ffb04a;
	background-color:#ffecb7;
	color:#000;
	text-decoration:none;
}

.small_pic img {
	border:medium none;
	margin-bottom:3px;
}

.community{
	margin-top:8px;
	float:left;
	width:607px;
	background:url(../images/bbs/c_bg.gif) no-repeat top;
}

.community ul{
	margin:40px 0 0 0;
	padding:0 0 0 3px;
}

.community ul li{
	display:block;
	list-style:none;
	line-height:24px;
	border-bottom:1px solid #D4D9EF;
	overflow:hidden;
	padding:10px 0 10px 20px;
}

.search1{
	width:950px;
	float:left;
	margin-top:8px;
	color: #666666;
	line-height:22px;
	overflow:hidden;
	border-top:1px solid #CCCCCC;
}

.search{
	width:678px;
	float:left;
	margin-top:8px;
	color: #666666;
	line-height:22px;
	overflow:hidden;

}

.search img{
	vertical-align:middle;
}

#s_inp{
	color:#999999;
	border:1px solid #CCCCCC;
	width:498px;
	height:18px;
}

/*论坛列表*/



.mainbox {
	background:#FFFFFF;
	border:1px solid #9DB3C5;
	margin:8px 0 0 0;
	padding:1px;
	width:674px;
	float:left;
	word-break:break-all; 
}

.mainbox h1 {
	background:#2F589C url(../images/bbs/list_bg.jpg) repeat-x scroll 0 0;
	color:#FFFFFF;
	height:22px;
	padding:9px 0 0 24px;
	margin:0px;
}

.mainbox h1 a{
	color:#28385A;
	font:12px "宋体";
	font-weight:bold;
	text-decoration:none;
}

.mainbox h1 a:hover{
	color:#28385A;
	text-decoration: underline;
}

table {
	border-collapse:collapse;
	empty-cells:show;
}


.mainbox a{
	color:#000000;
	text-decoration:none;
}

.mainbox a:hover{
	color:#000000;
	text-decoration: underline;
}

.lp td{
border-top:1px solid #CAD9EA;}

.ads a{
	clear: both;
	color: #7D7D7D;
	text-decoration:none;
}

.ads a:hover{
	color: #7D7D7D;
	text-decoration: underline;
}

.list_ico{
	width:30px;
	padding:2px 5px;
}

.list_title{
	width:325px;
	line-height:24px;
	padding:2px 5px;
}

.list_zz{
	width:90px;
	line-height:16px;
	padding:2px 5px;
}

.list_t{
	width:102px;
	line-height:16px;
	padding:2px 5px;
}

.list_c{
	width:72px;
	line-height:16px;
	padding:2px 5px;
}


/*底部*/

.foot{
	clear:both;
	width:930px;
	float:left;
	line-height:23px;
	color:#FFFFFF;
	text-decoration:none;
	margin-top:8px;
	padding:10px 0px 0px 20px;
	background-color:#3f4c6b;
}

.foot a{
	color:#FFFFFF;
	text-decoration:none;
}

.bottom_tn{
	width:950px;
	margin-top:8px;
	line-height:23px;
	text-decoration:none;
	text-align:center;
	float:left;
}

.bottom_tn a{
	color: #000000;
	text-decoration:none;
}

.search_box {
	background:transparent  url(../images/index/search_box.gif) no-repeat;
	border:0 none;
	color:#999999;
	float:left;
	font-size:12px;
	height:18px;
	padding-left:5px;
	padding-top:6px;
	width:250px;
}

#pd td{
	padding-left:3px;
	padding-right:3px;
}

.manu {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: right;
}
.manu A {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #28385A; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-DECORATION: none
}
.manu A:hover {
	BORDER: #6A829A 1px solid;
}
.manu A:active {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid
}
.manu .current {
	BORDER: #1F4363 1px solid; 
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 2px; 
	COLOR: #fff; 
	PADDING-TOP: 2px; 
	BACKGROUND-COLOR: #6A829A;
}
.manu .disabled {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid;
}


.mainbox1 td.postauthor {
	background:#E8F3FD none repeat scroll 0 0;
	overflow:hidden;
	padding:5px;
	width:180px;
}

.mainbox1 tbody cite{
	width:185px;
	height:16px;
	padding:8px 0 0 0;
	margin:0px;
}

.mainbox td.postauthor {
	background:#E8F3FD none repeat scroll 0 0;
	overflow:hidden;
	padding:5px;
	width:150px;
}

.mainbox tbody cite{
	width:160px;
	height:16px;
	padding:8px 0 0 0;

}


.postauthor cite {
	border-bottom:1px solid #CAD9EA;
	display:block;
	height:21px;
	margin-bottom:5px;
	overflow:hidden;
	font:12px "宋体";
	font-weight:bold;
}

.postauthor ul {
	line-height:22px;
	margin:8px 0px;
	overflow:hidden;
	padding:0 0 0 50px;
	float:left;
}

.postauthor ul li{
	display:block;
	list-style:none;
	float:left;
}

.pian a{
	color:#FF6600;
	text-decoration:underline;
}

.pian a:hover{
	color:#FF6600;
	text-decoration: none;
}


.postauthor ul li img{
	vertical-align:middle;
	margin-right:3px;
}

div.avatar1 {
	margin:10px 5px;
	overflow:hidden;
	text-align:center;
	width:160px;
}

div.avatar {
	margin:10px 5px;
	overflow:hidden;
	text-align:center;
	width:150px;
}

.postauthor p {
	margin:0 10px;
	padding:0px;
}

.postauthor p em, .postauthor dt em {
	color:#009900;
	font:12px "宋体";
}

.viewthread1 td.postcontent{
	background:#FFFFFF none repeat scroll 0 0;
	border:medium none;
	overflow:hidden;
	padding:0 1px;
	width:750px;
	vertical-align:top;
}



.postinfo1 {
	border-bottom:1px solid #CAD9EA;
	color:#666666;
	height:16px;
	overflow:hidden;
	padding:13px 10px 0 10px;
}

.viewthread td.postcontent{
	background:#FFFFFF none repeat scroll 0 0;
	border:medium none;
	overflow:hidden;
	padding:0 1px;
	width:502px;
	vertical-align:top;
}

.postinfo {
	border-bottom:1px solid #CAD9EA;
	color:#666666;
	height:16px;
	overflow:hidden;
	padding:13px 5px 0 5px;
}

.defaultpost {
	height:auto !important;
	min-height:120px !important;
	font:14px "宋体";
	line-height:24px;
}

.postmessage {
	overflow-x:hidden;
	padding:10px;
}

.postactions {
	background:#F7F7F7 none repeat scroll 0 0;
	border-top:1px solid #E8E8E8;
	height:26px;
	line-height:26px;
	padding:0 10px;
}

.postactions p {
	margin:0px;
	padding:8px 3px 0 0;
	float:right;
	font:10px Arial, Helvetica, sans-serif;
}


.list_rp{
}

#quickpost {
	overflow:hidden;
	padding-bottom:0;
}

.box {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CAD9EA;
	margin-bottom:10px;
	padding:1px;
}

#quickpost h4 {
	border-bottom:1px solid #E8E8E8;
}
.box h4 {
	background:url(../images/bbs/hf_bg.gif) repeat-x;
	height:22px;
	margin:0px;
	padding:8px 10px 0px 10px;
	font:12px "宋体";
	font-weight: bold;
}

.postform {
	width:95%;
	float:left;
	padding:10px;
}

.postform p{
	margin:0 1em;
}

.postform p label {
	font-weight:bold;
	vertical-align:top;
}

.postform textarea {
	height:100px;
	width:90%;
}

input, textarea {
	background:#FFFFFF none repeat scroll 0 0;
	border-color:#DDDDDD;
	border-width:1px;
	padding:2px;
}

.postform .btns {
	color:#999999;
	line-height:30px;
	margin-top:0.5em;
	margin-left: 42px;
}

.mainbox thead th, .mainbox thead td {
background:#E8F3FD none repeat scroll 0 0;
color:#666666;
line-height:22px;
padding:2px 5px;
}
.formbox th, .formbox td {
border-bottom:1px solid #CAD9EA;
}
.formbox th, .formbox td {
padding:5px;
}
.formbox th {
text-align:left;
width:180px;
}
em, cite, th {
font-style:normal;
font-weight:normal;
}

DIV.sabrosus {
	position:absolute;
	left:250px;
	top:220px;
	width:70px;
	line-height:28px;
	z-index:1;
}

DIV.sabrosus SPAN.current {
	BORDER: navy 1px solid;
	padding:4px 7px;
	FONT-WEIGHT: bold; 
	COLOR: #fff; 
	BACKGROUND-COLOR: #2e6ab1;
	cursor:pointer;
}
DIV.sabrosus SPAN.notcurrent {
	height:13px;
	BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; COLOR: #2e6ab1;  PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none;
	BACKGROUND-COLOR: #fff;
	cursor:pointer;
}