/* CSS Document */

body{
	padding:0;
	font:12px "宋体";
	margin:0px auto;
}

.13n{
	font:13px "宋体";
}

.14n{
	font:14px "宋体";
}

.main_container{
	width:950px;
	height:auto;
	margin:0px auto;
}

.bold{
	font-weight:bold;
}

.writ{
	color:#FFFFFF;
}

.red{
	color:#FF0000;
}

.orange{
	color:#FF6600;
}

.gray{
	color: #7D7D7D;
	text-decoration:none;
	}

.blue{
	color:#28385A;
	text-decoration:none;

}

/*顶部登陆*/

.top_bar{
	width:946px;
	height:25px;
	color:#1E5995;
	padding:0px 1px 1px 1px;
	border-bottom:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
	border-left:1px solid #DFDFDF;
}

.top_bar_hd{
	width:934px;
	height:25px;
	padding:0px 0px 0px 12px;
	background:url(../images/index/top_bar_bg.jpg) repeat-x;
}

.top_bar_hd h2{
	font:12px "宋体";
	float:left;
	width:200px;
	line-height:25px;
	margin:0px;
}

.top_bar_hd ul{
	display:block;
	float:right;
	width:330px;
	margin:0px;
	padding:0px;
}

.top_bar_hd ul li{
	list-style:none;
	line-height:25px;
	float:left;
}

.top_bar_hd ul li a{
	line-height:25px;
}

.top_bar_hd ul li a:link,.top_bar_hd ul li a:visited,.top_bar_hd ul li a:active {
	color: #1E5995;
	text-decoration:none;
}

.top_bar_hd ul li a:hover,.freight_detail a:hover {
	color: #FF6600;
	text-decoration:underline;
}

/*头部LOGO*/

.header{
	width:950px;
	height:72px;
	margin:0px;
	padding:0px;
	color:#1E5995;
	background:url(../images/index/head_bg.jpg) no-repeat right top;
}

#logo{
	float:left;
	margin-left:13px;
}

.header ul{
	float: right;
	margin:18px 5px 0px 0px;
	padding:0px;
}

.header ul li{
	display:block;
	list-style:none;
	text-align: left;
	float:left;
	line-height:18px;
}

.header ul li a:link,.header ul li a:visited,.header ul li a:active {
	font:14px "宋体";
	font-weight:bold;
	color:#28385A;
	text-decoration:none;
}

.header ul li a:hover{
	color: #FF6600;
	text-decoration: underline;
}


/*导航*/

.menu{
	width:895px;
	height:27px;
	padding: 5px 30px 0px 25px;
	background:url(../images/fcl/m_bg.gif) no-repeat;
}

.menu h1{
	color:#FFFFFF;
	font:12px "宋体";
	padding:0px;
	margin:0px;
	float:left;
}

.menu h1 a{
	color:#FFFFFF;
	text-decoration:none;
}

.menu h1 a:hover{
	color:#FFFFFF;
	text-decoration: underline;
}

.right_tn{
	float:right;
	color:#FDEB03;
	font-weight:bold;
}

.right_tn a{
	color:#FDEB03;
	text-decoration:none;
}

.right_tn a:hover{
	color:#FDEB03;
	text-decoration: underline;
}

/*页面主体*/

.main_content{
	width:950px;
	clear:both;
	margin:8px 0px 0px 0px;
}

.landing_box{
	width:424px;
	color:#28385A;
	float:left;
	line-height:24px;
	margin:0px;
	padding:25px 25px 0px 25px;
}

.login_box{
	width:948px;
	float:left;
	line-height:24px;
	border:1px solid #ccc;
}

.title{
	font:12px "宋体";
	color:#28385A;
	}


#username{
    background-image:url(../images/login/username.gif);
	background-position: 1px 1px;
	background-repeat:no-repeat;
	padding-left:20px;
	height:20px;
    border: 1px solid #999;
    color: #000000;
	line-height:20px;
	FONT-SIZE: 12px;}
	
#password{
    background-image:url(../images/login/password.gif);
	background-position: 1px 1px;
	background-repeat:no-repeat;
	padding-left:20px;
    border: 1px solid #999;
    color: #000000;
	line-height:20px;
	height:20px;
	FONT-SIZE: 12px;}




/*底部*/

.foot{
	width:930px;
	height:49px;
	float:left;
	overflow:hidden;
	line-height:23px;
	color:#FFFFFF;
	text-decoration:none;
	margin-top:8px;
	padding:10px 0px 0px 20px;;
	background-color:#3f4c6b;
}

.foot a{
	color:#FFFFFF;
	text-decoration:none;
}

.bottom_tn{
	width:950px;
	margin-top:8px;
	line-height:23px;
	text-decoration:none;
	text-align:center;
	float:left;
}

.bottom_tn a{
	color: #000000;
	text-decoration:none;
}

.search_box {
	background:transparent  url(../images/index/search_box.gif) no-repeat;
	border:0 none;
	color:#999999;
	float:left;
	font-size:12px;
	height:18px;
	padding-left:5px;
	padding-top:6px;
	width:250px;
}

#pd td{
	padding-left:3px;
	padding-right:3px;
}